[2017-04-22 11:39] enumag opened #1 "Future development of Higurashi patches"
cc @ItaloKnox, @DoctorDiablo, @Grelo, @jwgrlrrajn

## Current problems

- Installing a patch requires too many steps.
- More complications if I want both PS3 and MG sprites.
- Graphics take too much disk space.
- Voice directories contain unused files.
- Some voices or images may not work on Linux because of case sensitivity.

## Features and goals

Long story short this tool already deals with al

[2017-04-22 13:46] Grelo commented on #1
@enumag Sorry for the big size of the pictures im reducing it right now and will upload whole question arcs here later today.

[2017-04-22 14:04] enumag commented on #1
@Grelo Yep, that's about the same compression this tool is able to achieve.

[2017-04-22 15:05] jwgrlrrajn commented on #1
Cool. Sounds like a plan.

[2017-04-22 15:13] DoctorDiablo commented on #1
Streamlining the installation process sounds awesome, and reducing disk usage is great too (as long as we're not sacrificing any quality, which it sounds like).

I'm a little hesitant about including the MG sprites though.  I'm sure people would like that feature, but I wouldn't want to force someone to switch art styles 4 chapters in, so we'd be committing to doing all that extra work for each ne

[2017-04-22 16:23] jwgrlrrajn commented on #1
Makes sense, although I think the reason for the PS3 sprites being in CG instead of CG Alt was so that characters with PS3 sprites but no MG sprites (e.g. Chie-sensei prior to episode 3, if MG hadn't given her sprites at all) would still show up. Not entirely sure how that works though.

[2017-04-22 16:27] jwgrlrrajn commented on #1
I'm the one who's mostly been compiling the MG sprites as an extra patch to offer additional options to the PS3 sprites, so I don't mind if that responsibility stays with me. You guys can keep doing what you're doing for the PS3 end of things, and I can make sure everything like the zoomed-in sprites are properly represented on the MG side whenever possible.

[2017-04-22 17:29] ItaloKnox commented on #1
Hey, man, that's rude. I like the old Ryukishi sprites. 😆

My proposal is to reduce the workload on the user's machine and instead use this compiler to prebuild the patch. If we take updates in account, the worst offender is the graphics patch since we can't update it directly without the git workaround. I mean, for free.

Voices and scripts are small, so we can keep updating it normally with new

[2017-04-22 18:27] Grelo commented on #1
For everyone who wants it, i just leave it here. Graphic mod with reduced size.

https://mega.nz/#!FFcAxJpR!2E8htX7kDUaqgbh9XVvVObqAtjL5_u1DW6oXv8AN_aA

[2017-04-22 18:49] ItaloKnox commented on #1
Nice, it seems to include all chapters. If we can the voice files now (or a list of them), I think make something based on my suggestion. For now I'll be waiting for everyone's opinion on that.

[2017-04-22 19:06] Grelo commented on #1
If you know how to do it and it would be easier than what we have now (its easy anyway at least for me) + if it would be automatic with less interaction than @enumag described in main page then definitely go for it. But im not good in these type of things so wait for other opinions.

[2017-04-22 19:24] enumag commented on #1
@ItaloKnox @Grelo Oh I never meant for this tool to be used by the end users. All along this was meant as a tool for us to discover and fix potential problems before making a release and to transfer all previous chapters to the new way. Sorry for the confusion.

An installer for windows is something I wanted to suggest anyway - it will be necessary if we use Git LFS anyway (I'll explain why in a s

[2017-04-22 20:06] Grelo commented on #1
@enumag Im personally using only PS3 sprites, if others are ok with it then do it. Im happy with how things are now but if it will be easier for others or demand is big enough for MG Sprites...thats the question.... you should make some survey and ask people xD

[2017-04-22 20:18] ItaloKnox commented on #1
I like this, I think including the MG graphics would be nice, though I have two concerns about this:
 1. Wouldn't it further increase the development time? Since the MG sprites needs to be updated manually with the weather filters, right?
 2. Wouldn't it also increase the patch size?

Point 2 can be easily fixed since we can make it optional, I just have to set up two scripts (one with the usual C

[2017-04-22 20:38] enumag commented on #1
@ItaloKnox For Watanagashi (the largest patch) we're talking about 250MB which is not that much (most disk space are the PS3 backgrounds which are needed always). And as you said it can be optional in the installation process. I don't think there is an issue with the develoment time either if we do it the way you just said (which is what I've been suggesting from the start).

@jwgrlrrajn You're ok

[2017-04-22 20:39] jwgrlrrajn commented on #1
I'm working on Himatsubushi, I just haven't been able to do it as quickly as I'd like due to finals coming up.

[2017-04-22 20:40] jwgrlrrajn commented on #1
@enumag I'm more than okay with that.

[2017-04-22 22:03] ItaloKnox commented on #1
@enumag I'm thinking about starting it asap, can you get me a list of all the voice files needed for Onikakushi?

@jwgrlrrajn I didn't mean it in a bad way or anything like that, just take your time. Updating the installer is pretty much painless.

[2017-04-22 22:17] enumag commented on #1
Her you go, captain. 😄

[onikakushi.txt](https://github.com/07th-mod/higurashi-patch-compiler/files/949342/onikakushi.txt)

[2017-04-23 02:02] ItaloKnox commented on #1
I tried to work through the voices locally but it's such a pain the ass that I tried your compiler. I'm running it in a clean Ubuntu 16.04, with the dependencies installed.

There's an issue, though. When it finishes downloading the zips, I get this error:
[code]

I tried to run it again with sudo but the same thing happens. Any ideas?

[2017-04-23 06:15] enumag commented on #1
ZipArchive class should work after you run `sudo apt-get install php7.1-zip`.

The windows prerequisite comes in later when cleaning up which files are used and which are not. However I just [updated](https://github.com/07th-mod/onikakushi/commit/c286b2ca164b54c84d3a3e67fd601185afd1618a) onikakushi to fix case sensitivity so if you update both the onikakushi patch and the compiler (I removed the e

[2017-04-23 09:49] ItaloKnox commented on #1
Man, that wasn't hard but it took a long time because I had to make some workarounds. I made a new EC2 instance just to compile the patch but it seems it didn't have enough HDD for everything. Dummy download files solved the problem, I guess.

After comparing to the list you sent me earlier, it seems to be fine. All 5118 files are there.
I just finished setting up a batch script to do the whole jo

[2017-04-23 09:53] enumag commented on #1
Some people might be confused about a cmd window opening but I don't think it's serious enough to bother with it. I mean it's just a cosmetic problem, right?

[2017-04-23 10:00] ItaloKnox commented on #1
Yep, that's all. I feel more safe about running an external script instead of letting the installer run the commands itself, this also allows me to pull the newest script without changing the installer itself.

I can also have the installer warn the user about the upcoming cmd window (the script also shows what step it's doing the entire time). Since we don't have much time until Meakashi, I'll tr

[2017-04-23 23:53] DoctorDiablo commented on #1
Just tried the new installer.  At first, my antivirus was giving me hell because it didn't recognize the executable, so I temporarily disabled antivirus and it started up fine.  The installer launched the cmd window and it ran for a while and made it through all the downloads, but it started giving me an error about maximum path lengths once it tried installing the.  My installation directory is "

[2017-04-24 07:57] ItaloKnox commented on #1
I need to enable logging first, so I'll start doing that by the next version. But I think I know what's wrong, I'll do some more testing and upload a new version as soon as possible.

[2017-04-24 15:46] ItaloKnox commented on #1
Ok, I guess the bug is "fixed". Moving on Windows is pretty shitty so I had to make a workaround to copy and delete the source, but it seems to work. Did some testing using the same path as you do and it looks fine.

You don't have to redownload the installer, just run the file ``Onikakushi Patch Installer.exe`` that is inside the ``temp`` folder in your game directory. If you deleted it, no probl

[2017-04-26 11:57] ItaloKnox commented on #1
Hey @enumag, I've been trying to get started with the remaining chapters but it seems to do the whole process excluding the most important part, the voices. It seems to move the voices but after it finishes the work, he cleans the entire SE folder.

Can I guess that the problem is the same Onikakushi did have? My script seems to be at a comfortable position right now so it would be nice if we coul

[2017-04-26 11:59] enumag commented on #1
You're still running it under linux right? Then I need to fix the scripts of the remaining chapters. I'll do it right away.

[2017-04-26 12:02] ItaloKnox commented on #1
Yep, unfortunately that's my only reliable choice. Thanks for doing that, if everything goes okay I'll have everything ready tonight.

[2017-04-26 12:15] enumag commented on #1
Well you're doing most of the work again. This is the least I can do for you - no problem at all!

Wata and Tata are fixed. Hima will take a few more minutes because as I need to add the compilation script for it first and then fix any issues I find with that.

[2017-04-26 20:39] ItaloKnox commented on #1
Nah, this time I might be doing the whole thing but it wouldn't exist without everyone in this thread. If anything, I'm very grateful to be in a team that works so hard (and we still have a long way before finishing the novel).

But anyway, back to business, all the installers are properly compiled and working. There might be a bug or two I left behind, but it seems to be functional. I won't relea

[2017-04-27 20:37] enumag commented on #1
@ItaloKnox I see the new releases and the Wiki update. Good job! Well actually that's an understatement.

[2017-04-27 20:40] ItaloKnox commented on #1
Thanks, mate! I guess we're ready to tackle on Meakashi now. Also thanks for removing the Himatsubushi note, my finger was itching a lot to click the release button. 😆

Now let's hope the installer will work well for everyone, I tested every chapter on my machine and it seems to work well and the path bug was fixed, so there's nothing more I couldn't find to fix. Anyway, the work ends for today bu

[2017-04-27 20:58] enumag commented on #1
I'm going to read the Wiki and give it some finishing touches (like I removed nonexistent download links to Meakashi patches). I'll also test the installers tomorrow on my machine and let you know how it works.

Now I have an idea for Meakashi although I'm not sure if it's good or bad. As you know the issues with the automatic voice inserter are probably unfixable since the japanese text is differ

[2017-04-27 21:05] ItaloKnox commented on #1
The Meakashi links were placeholders but I guess I forgot to comment them so they would not show.

And about your idea, I really like it. I think it takes more time to deal with lines *without* this solution than with lines using it. I'm totally in favor of that.

[2017-04-27 21:09] enumag commented on #1
Alright then. I'll look into it tomorrow. (It's almost midnight for me now.) Hopefully it will make your work a bit easier this time. :-)

[2017-04-27 21:36] DoctorDiablo commented on #1
Detecting lines that need manual correction sounds pretty helpful.  I did something like that on Umineko by looking at the numbers in the filenames to identify gaps (blahblah17 followed by blahblah19, check if blahblah18 is missing).  You solution sounds good too.

[2017-04-28 17:59] Grelo commented on #1
I can confirm the installer works and everything is here, good job.

P.S. Are you sure that all voices in use are there? Is it possible that some got deleted through installer? Just asking not that anything is missing.

[2017-04-28 18:03] enumag commented on #1
@Grelo Not 100% sure, there is always the possibility that I made a mistake somewhere in the script that deletes the unused voices but about 97% sure?

[2017-04-28 18:22] Grelo commented on #1
@enumag Ok thanks, that is good success percentage.

[2017-04-28 19:55] enumag commented on #1
@ItaloKnox I implemented the placeholders thingy for the voice insertion script. I tried it on Himatsubushi and it inserts about 13 placeholders for every 100 inserted voice lines. For the whole Himatsubushi chapter it inserted over 2200 voice lines and 300 placeholers. That's a bit more placeholders than I expected to be honest so I'm worried about false positive placeholders. But then again thos

[2017-04-28 21:47] ItaloKnox commented on #1
I think it should be ok, the number doesn't sound so far from what I fix manually. Actually it feels like I fix more lines than that, so it should fine. I usually have to double check the entire script, seems to be easy to catch false positives after I finish the whole script. Let's test it like that, if it doesn't work we can revert to the old method.

[2017-04-30 05:38] jwgrlrrajn commented on #1
I've run into a bit of a snag getting a proper MG replacement for oisi2_8_0.png. If it was any one of his existing expressions, I could just swap the face out for the correct one, then resize, but since the expression doesn't match any existing ones, I've had to come up with my own.

This is mostly a placeholder until MG makes a proper version of this sprite, although that may never happen, so I n

[2017-04-30 07:19] enumag commented on #1
@jwgrlrrajn Good enough replacement in my opinion. :-)

@ItaloKnox I tried the installers today. They all work fine,
- Windows Defender thought they were dangerous and blocked them the first time I tried to launch them.
- In the input where I select the installation directory I can't move the cursor to the end of the text when it is longer than the input.
- The same input has weird looking red bac

[2017-04-30 14:18] ItaloKnox commented on #1
Thanks for the input, @enumag. I'll keep these in mind for Meakashi and update the others. Though I'm still not sure about fixing the antivirus issue, it seems to red flag it just because it has an .exe.

@jwgrlrrajn  If you hadn't told me it was made by you I would never know. Looks great. 👍

[2017-04-30 15:24] DoctorDiablo commented on #1
@ItaloKnox For the antivirus issue, I think we can just add a note to the installation instructions that says that the exe might be flagged by antivirus and users can bypass that by saying they trust the file, or temporarily disabling their virus protection.

@enumag Porting Someutsushi was a fair amount of work.  I have the PS3 script file so I was able to write some code that parses it and spits

[2017-04-30 15:28] ItaloKnox commented on #1
Yep, the wiki instructions actually note that this might happen. The ideal scenario would be to not need it all, and that's what I'm aiming for. Maybe not for now but for a better version of the patch.

I still have to check Someutsushi but I've also included it in our wiki. Hopefully I'll be able to play it after I finish Meakashi. If I can keep up with the current pace, the scripts should be fin

[2017-05-01 05:09] jwgrlrrajn commented on #1
I've updated the .zip for Watanagashi, and added a couple of different versions of the Himatsubushi patch. Since Rika and Mion are supposed to be younger in that one, I figured it would make sense to have one patch that's as pure MG as possible, then another patch that has the chibi versions of Rika and Mion instead of the MG counterparts. https://github.com/jwgrlrrajn/higurashi-steam-sprite-mods/

[2017-05-01 07:12] enumag commented on #1
@ItaloKnox I found a little problem with our Himatsubushi graphics patch. The directories for weather sprites are called Night, Rain and Sunset. In the new MG patch from @jwgrlrrajn they're called night and sunset causing a naming inconsistency which would cause a bug on Linux. Since Onikakushi and Watanagashi used night, rain and sunset (without the capital letter) I think we should fix it in our

[2017-05-01 07:37] enumag commented on #1
@ItaloKnox If you got my last comment (which I deleted) by email, please ignore it. That was my own mistake, no need to fix anything.

[2017-05-01 09:22] enumag commented on #1
@DoctorDiablo Maybe we should post some note to https://www.reddit.com/r/visualnovels/ or somewhere that we're looking for translators to help with the console arcs? I mean as awesome as your work on Someutsushi is it is probably unknown to most people and it might be unlikely for some translator to pick up on your note in the readme. What do you think?

[2017-05-01 20:04] DoctorDiablo commented on #1
@enumag I did post to /r/visualnovels but nobody volunteered to help.  I might try asking at Fuwanovel next.  Any exposure would help.

I've also been meaning to go back and re-edit Someutsushi to fix some of the awkward English in my original translation.

[2017-05-06 09:46] enumag commented on #1
@DoctorDiablo Found your post there now but it's more of a release announcement than a request for help. Good luck with Fuwanovel, it would be great to get more translators for this. If some translators were willing to help but would not want to work with the scripts we could set up something like OneSky for them.

----

Now the next issue I'd like to deal with - duplicate CGs (https://github.com/

[2017-05-06 11:36] Grelo commented on #1
@enumag I can verify they are correct and think thats almost all for duplicates in that chapter, gj. You forgot, bg_007-014-015 and Bg_009-016-017 are same. Just little tweaking for triplets and higher and compiler will be good.

[2017-05-06 11:40] enumag commented on #1
@Grelo Thank you! I'll see why the script missed them and try to improve it.

[2017-05-06 12:16] enumag commented on #1
@Grelo I changed a constant in the script and it now identifies the images you mentioned as the same. It also found a new pait CG/bg_067.png and CG/bg_119.png.

I'll update the scripts accordingly now. The files will be removed from our patch later when I add a way to remove unused CGs.

[2017-05-06 21:11] enumag commented on #1
I'm done with Onikakushi and Watanagashi. And let me tell you that Watanagashi was a real mess. There were way too many duplicates (https://github.com/07th-mod/watanagashi/commit/1702daf9753e33b7f962d6bfe59a99dbb052606a), not to mention over 700 unused files. No wonder that Watanagashi graphics patch was so big.

[2017-05-06 21:44] enumag commented on #1
@ItaloKnox I think I should write you a little guide what to do with the improved compiler and the compiled files. This will require a bit more effort to achieve the best results.

1) Install this compiler. If already installed, pull the latest version. You can use Linux.

2) Aside from this compiler you'll need the MG gamefiles (unpatched) on the same machine. Change the paths in src/Constants.ph

[2017-05-06 21:51] ItaloKnox commented on #1
Weeeeeell, this is going to take a while so I'll keep it in mind and try to update everything before the next weekend.  It's always an improvement to kill unused files. I'll also have to release a new version, looks like you changed the scripts quite heavily so it should be the right timing for that.

By the way, how smaller did Wata become?

[2017-05-06 21:57] enumag commented on #1
I know, sorry about it. No need to rush, though. Do it whenever convenient.

CG directory for Wata is now 527 MB with CGAlt having another 110 MB. Together with voices it is slightly less than 1 GB. Quite an improvement in my opinion - it was 1.6 GB with the first version of my compiler and about 4 GB (if not more) before we applied compression to the images.

[2017-05-06 22:05] ItaloKnox commented on #1
Nah, it wasn't my intention to make it like I didn't want to do it. I'll try to make one a day starting from monday. I'll see if tomorrow I can implement an update feature to the patcher.

And these results are great, totally worth risking a bug or two. If we can keep this up maybe we'll be able to move the repos to github, since it's okay as long as it doesn't go past 1gb.

[2017-05-06 23:44] jwgrlrrajn commented on #1
Unused files? Let me know when you guys have all the PS3 sprites set up then. I've mostly been playing catch-up with making sure there's MG sprites to match what you've already set up.

[2017-05-06 23:46] jwgrlrrajn commented on #1
Just out of curiosity, in Himatsubushi, for instance, I have two different patches. One for if you prefer pure MG sprites, and one for if you would prefer Rika and Mion to have appropriately aged sprites. How does the installer handle that? Does it handle that?

[2017-05-07 05:35] enumag commented on #1
@jwgrlrrajn It uses the appropriatly aged sprites. Which I think is a bug actually. The installer should let people choose or use MG sprites as default. @ItaloKnox ?

@DoctorDiablo I have two installation of Himatsubushi, one as regular Himatsubushi and second as Someutsushi. Is there a way to make Someutsushi have a separate directory for save files?

[2017-05-07 06:33] ItaloKnox commented on #1
Since the MG patches are so small I just decided to install them anyway. I think it makes the patch more complete and avoids leaving a hole in the "Updated" option. So about this situation in particular, the patch doesn't handle it in a special way. It actually installs both ``himatsubushi-steam-sprites.zip`` and ``himatsubushi-steam-sprites.Chibi.PS3.zip``. Was it meant to be a single choice? If

[2017-05-07 06:39] enumag commented on #1
@ItaloKnox Yeah it is meant as a choice between the two. The default should be `himatsubushi-steam-sprites.zip` in my opinion.

@jwgrlrrajn Just an idea - how about a patch that would use the MG sprites for Rika and Mion but make them smaller than normal to reflect their age? It would not be ideal with Mion's oversized breasts but it might be still slightly better than just using their regular MG

[2017-05-07 06:46] enumag commented on #1
Also maybe we should rethink which MG sprites for Chie we should use by default. This compiler uses the alternative sprites by default.

The original from MG makes her look kind of... slutty?

![tie_def](https://cloud.githubusercontent.com/assets/539462/25778542/3fac78ce-3301-11e7-9ed6-840b2b9888b9.png)

@jwgrlrrajn provides an alternative set of sprites in his patch which are much better in my op

[2017-05-07 12:07] enumag opened #2 "Font and screenfilter improvements"
In our current patches there is a bug that causes the text to overflow the darkened area - see the word once in the image below:

![bug](https://cloud.githubusercontent.com/assets/539462/25779569/1f41b750-331c-11e7-854c-efd4d7e0bb09.jpg)

I fixed this by changing the init.txt script a little. While doing that I also noticed it's possible to change the font and adjust font size and spaces. I always

[2017-05-07 13:07] Grelo commented on #2
Im suggesting to create a proper textbox at the bottom like in PS3 :)

[2017-05-07 13:11] enumag commented on #2
@Grelo I tried but couldn't do it. Maybe @DoctorDiablo could be able to?

[2017-05-07 13:43] enumag commented on #2
I managed to put the text to the bottom of the page using `SetWindowPos(-200, -300);`.

![onikakushi](https://cloud.githubusercontent.com/assets/539462/25781449/cc5fc2ba-333a-11e7-8dff-0589b578b09e.png)

However the engine doesn't break the text to multiple screens automatically so we would have to change the scripts quite heavily to reflect that. I assume I could write a script for that but there

[2017-05-07 13:45] Grelo commented on #2
I will try to do it but the problem is if you can make the script or something to identify who is speaking and add names at the top of the box ill try to make + line cutting at the end of sentence and starting new sentence from beginning.

[2017-05-07 13:48] jwgrlrrajn commented on #1
@enumag My original plan was to recolor the hair on the PS3 sprites to better match the MG counterparts. Rika is mostly done, but Mion has been a little more difficult. As for resizing the sprites, it could work, however, it would make the outlines a bit fuzzier. That said, Mion's bust size wouldn't be that hard to fix, since we'd really only need to fix it for one of the sprites, and the rest can

[2017-05-07 13:53] enumag commented on #2
As I said line cutting would be buggy and require much effort to fix manually. Names of who is talking could be determined by sprites usage to certain extent (again much manual effort to fix it would be required) but I have absolutely no idea how to write the names to the right place on the screen.

[2017-05-07 14:14] Grelo commented on #2
What would happen if you put clear message command after every message in the script?

[2017-05-07 14:17] enumag commented on #2
It would break lines that are separated to multiple commands but are actually one sentence and should be on one screen even in this mode.

[2017-05-07 14:22] enumag commented on #2
Maybe if I replace `OutputLineAll(NULL, "\n", Line_ContinueAfterTyping);` with `ClearMessage();`? Alright I'll try. Could you prepare a simple windo_filter.png for me? Just transparent gray at the bottom of the screen.

[2017-05-07 14:23] Grelo commented on #2
Fast one without anything? Size?

[2017-05-07 14:27] enumag commented on #2
Yeah. Size should be 1920*1080. Size of the gray part is usually about 1/3 of the screen, maybe a little less.

[2017-05-07 14:43] Grelo commented on #2
![windo_filter](https://cloud.githubusercontent.com/assets/22790067/25782121/4e3c0ede-3344-11e7-907b-acfc440181ee.png)

[2017-05-07 14:50] Grelo commented on #2
![windo_filter2](https://cloud.githubusercontent.com/assets/22790067/25782163/347beb94-3345-11e7-8f5a-9ddab6c760ee.png)

[2017-05-07 14:58] DoctorDiablo commented on #2
Some quick thoughts:
- Fixing the text writing over the edge of the text box is great.
- The new font looks good fullscreen, but I'm worried it looks thin and hard to read if you play in windowed mode.
- Using ADV style text boxes like the PS3 version is a good option to have, but I think we should stick to the traditional NVL style by default, since that's how the original text was designed. Mayb

[2017-05-07 15:04] enumag commented on #2
@Grelo Well if you call this simple... 👍

This might actually be easier than I thought. With a simple replace and adjusting init.txt I got a working prototype.

[Update.zip](https://github.com/07th-mod/higurashi-patch-compiler/files/981668/Update.zip)

@DoctorDiablo Thanks! Those are very nice insights. :-)

[2017-05-07 15:04] Grelo commented on #2
Yep it should be optional but some people like to read in textbox while looking at the unobstructed sprites and backgrounds.

[2017-05-07 15:13] enumag commented on #2
This is as far as I was able to get. The name is added manually for this single line just to see whether it works.

![rena](https://cloud.githubusercontent.com/assets/539462/25782306/552528da-3348-11e7-95aa-153df04e985a.png)

[2017-05-07 15:16] jwgrlrrajn commented on #2
That looks pretty nice.

[2017-05-07 15:16] Grelo commented on #2
@enumag Perfect i tried it 👍 . Only names now and we are good. Btw is it possible to change font according to my preference?

[2017-05-07 15:17] DoctorDiablo commented on #2
Oh, one more thing. Sorry if I'm making this super complicated, but...

We could potentially make the script aware of which text box mode we're in by initializing a global variable in init.txt
`SetGlobalFlag(AdvMode, 1);`
That way, if we need to make any changes to the script to get it rendering right in the new text boxes, we can encapsulate it in an if condition so it won't affect how the old te

[2017-05-07 15:20] enumag commented on #2
@Grelo Font changing is limited. See the comment in init.txt.

@DoctorDiablo Nice! That way we could have just one set of scripts and have the installer change the flag based on the user's preference.

[2017-05-07 15:22] enumag commented on #2
@DoctorDiablo Is it possible to create a sort of a function? The condition would be the same pretty much everywhere.

[2017-05-07 15:30] DoctorDiablo commented on #2
You can create functions, but I think the function needs to be defined within the file it's being called in.

I don't know what language the scripts are written in, so I've only been able to mimic functionality I've seen in existing scripts.  flow.txt is a good reference.

[2017-05-07 15:35] enumag commented on #2
That might help as well.

Now for the identification of who is talking. The files I'm using for voice insertion are different than your example above and do not contain the names (https://github.com/07th-mod/voice-inserter/blob/master/dev/s01.txt). Where can find the sources?

[2017-05-07 15:45] enumag commented on #2
@Grelo Personally I prefer overlays without margins, like in for example [Steins;Gate 0](http://thevitalounge.net/wp-content/uploads/2015/11/Steins-Gate-0_2015_11-27-15_003.jpg). Could you try that?

[2017-05-07 15:46] Grelo commented on #2
I checked again and the text still continue below textbox sometimes. And the police report at the end of Onikakushi is prime example, there the text is literally messed up.

[2017-05-07 15:47] enumag commented on #2
Yep, as I said this will take a lot of manual fixing.

[2017-05-07 15:51] Grelo commented on #2
Like this?
![windo_filter2](https://cloud.githubusercontent.com/assets/22790067/25782563/d2b42fd0-334d-11e7-9093-4e7e3688c82c.png)

[2017-05-07 15:52] enumag commented on #2
Exactly. Let me try that.

[2017-05-07 15:52] DoctorDiablo commented on #2
@enumag I guess we were using different sources files after all.  Here is the full [PS3 Script](https://www.mediafire.com/?ya0gxxwvz4fahgvhttps://www.mediafire.com/?ya0gxxwvz4fahgv).  That's the one I used to port Someutsushi.  It's gigantic because it contains all 20 arcs in one file.

[2017-05-07 16:12] enumag commented on #2
Well that's different. But I can probably work with that Ok, I'll try to write a parser for this monstrosity to get the names out of it. Then I'll post a list of names for you guys to give me their english equivalents. Then another parser for our scripts to insert the names and put placeholders in where the names can't be identified. Overall this is quite a lot of work so don't blame me if it take

[2017-05-07 16:14] Grelo commented on #2
I hope its possible to have both textboxes. :)

[2017-05-07 17:31] ItaloKnox commented on #1
Oops, I guess I misunderstood the MG patch for Himatsu. I'll update the script to only download one, but I won't scrap the idea of giving the user the choice. For now I want to concentrate on finishing the basic features and then I'll start doing chapter-specific choices.

[2017-05-07 17:39] ItaloKnox commented on #2
Holy crap, you guys are doing great here. That's a great update that I would love to see finished.
Always ping me if there's anything I can do to help. If anything, the font change for the init should be already an improvement.

[2017-05-07 20:28] enumag commented on #2
Let's return to the original topic for a bit - the init.txt and windo_filter.png improvements to the non-ADV style. I forgot to reply to @DoctorDiablo's concern about non-fullscreen - I actually tested that before posting this issue. In my opinion it was fine, but I need you guys to test it and tell me if you agree or not. I'm fine with just fixing the overflow issue if you like the current settin

[2017-05-08 12:15] Grelo commented on #2
I vote for overflow fix and better font.

[2017-05-08 14:35] enumag commented on #2
I parsed the PS3 file to get name for each voice line. Now I need english equivalents for those names so that I can write another script to put them into our patches. The problem is that there are 466 different names. I at least ordered them by the counf of voices belonging to them so the main characters should be at the top. Can you take a look and add the english names? Just the main charachters

[2017-05-08 15:51] enumag commented on #2
After some trial and error with the game engine I even managed to do this:

![rena3](https://cloud.githubusercontent.com/assets/539462/25812470/b1493ee8-3416-11e7-9c90-2cf7ced4fb5e.png)
![keiichi](https://cloud.githubusercontent.com/assets/539462/25812474/b2bb11fc-3416-11e7-9527-39459ca7807c.png)

But there are some issues that I really do not know how to solve such as this:

![menu](https://cloud

[2017-05-08 19:51] ItaloKnox commented on #2
I was never a big fan of character portraits while the game is actually showing the character on the screen. But that's not up to me to decide, so I think whatever comes out of this will be really cool.

Anyway, I just have to put the names of the characters there, is that right? If that's the case I think it should be easy, but it will take some time since there's a lot.

[2017-05-08 20:10] enumag commented on #2
@ItaloKnox Yeah, that's right. Just add the names as they should appear in english.

The screenshot with simple white name I posted yesterday seemed a bit boring to me and I thought I could improve it with colors and/or portraits. So I tried both just to test the capabilities of the game engine. Which way to go is up for discussion. Any ideas and opinions are most welcome.

[2017-05-08 20:20] ItaloKnox commented on #2
[Here's the first 100 names](https://gist.github.com/ItaloKnox/497adf0e48692cd1a0bf04d7e6cefc00). Some of them are commented since it needs double checking, thanks to kanji ambiguity.

This is also the last chance to complain about the format, I can start on a clean file without kanjis if you want.

[2017-05-08 20:24] enumag commented on #2
The format is fine. It's better to have both jp and eng name on one line to prevent mismatches. I can separate them easily with regular expressions.

[2017-05-08 20:27] ItaloKnox commented on #2
Good, I also fixed one that I didn't remember, so I'll keep this format. I guess I'll be finished by tomorrow, will try to do half today.

[2017-05-08 21:56] DoctorDiablo commented on #2
Wow, a lot of stuff happening quickly.  If I'm the only one who had any issues with the font, I'll go along with what everyone else thinks.  The color-coded names are cool, but the portraits by the names seem a little redundant, so I could go either way on those.

I'll let @ItaloKnox finish the English names list and then try fix the ones he had questions on.  A bunch of them are characters from t

[2017-05-08 22:15] Grelo commented on #2
Portraits doesnt really fit in my opinion, since we would need to create ps3 and MGs portraits for both versions. Final version should have at least 2 fonts, 2 textboxes and names i think, that would be great.

[2017-05-09 01:32] ItaloKnox commented on #2
[names.txt](https://github.com/07th-mod/higurashi-patch-compiler/files/985278/names.txt)

Here we go, that's the full name script. Missed a few of them but I think most are correct.

[2017-05-09 18:50] ItaloKnox commented on #1
I think I hit a wall in regards of doing the graphics patch cleanup. Actually it's not a issue with the compiler itself, but the environment.

First issue is my remote linux machine. I think I made so many workarounds to avoid downtime that I can't get the whole thing to work. PHP7 for starters is not doing very well and it seems that my distro is a little too old for that. No wonder since it's st

[2017-05-09 18:57] enumag commented on #1
@ItaloKnox I might be able to add a Dockerfile to run the compiler in a Docker container. Would that help?

The images for question arcs are good but the Higurashi Kai logo in Meakashi cover is a mess.

[2017-05-09 19:00] ItaloKnox commented on #1
I'm not well versed in Docker (actually never really understood it), but maybe we can try?

Meakashi was particularly hard because the Kai takes so much space. I think it looks better in a bigger screen but still not as good as I hoped. Maybe I'll try making the logo a little smaller to compensate.
![header](https://cloud.githubusercontent.com/assets/4702556/25867632/8e9c2a8a-34d0-11e7-944a-f40fa7

[2017-05-09 19:38] enumag commented on #1
I'm not very experienced with Docker myself but this should be quite easy. Well that is if Docker Toolbox won't refuse to work like it did the last time I tried.

[2017-05-09 19:41] ItaloKnox commented on #1
I'm giving the compiler a second try in my EC2 Ubuntu but I don't really know if I can really make it work with so little disk space. Just give me a few minutes and I'll see if it can barely fit with a few workarounds.

[2017-05-09 19:45] enumag commented on #1
Unfortunately I didn't make the compiler friendly to disk space. It might easily need around 10GB just to compile a single chapter. I could reduce it by removing the downloaded zips after they're unpacked but it will take same time to implement.

[2017-05-09 19:51] ItaloKnox commented on #1
Nothing that quitting the installation and making empty zips with ``touch`` wouldn't solve. For now it seems to be building the patch, let's see if it will work.

Wouldn't be much of a issue if I could use Azure, nothing that a $500/mo VM wouldn't fix for a couple hours.

[2017-05-09 20:00] ItaloKnox commented on #1
So, there's something I forgot to ask and I'm not really sure about this, but step 7 in that mini guide you wrote above tells me to send the compiled CGAlt folder to @jwgrlrrajn. Does the compiler make anything to it to make this a necessary step?

[2017-05-09 20:01] enumag commented on #2
Thanks! I'll try to write a script to insert the names. Based on the feedback, portraits are gone.

[2017-05-09 20:04] enumag commented on #1
@ItaloKnox Yep, quite a few things actually.

1) Compressing the images to make them smaller.
2} Filtering out unused images.
3) Adding the sprites that are normally in gamefiles to allow complete deletion of the CG and CGAlt directory before installiong the patches.

[2017-05-09 20:11] ItaloKnox commented on #1
Good news, I guess? Hopefully there will be enough to zip them. I'm not feeling compelled to make a FTP transfer between servers, sounds like a pain in the ass.
![firefox_2017-05-09_17-09-55](https://cloud.githubusercontent.com/assets/4702556/25870407/568826f8-34da-11e7-9110-701900091ead.png)

[2017-05-09 20:15] ItaloKnox commented on #1
Seems to be ok and enough disk space to zip the files. Thank god.
I will upload the file and give it to @jwgrlrrajn so he can update it himself. Changing the flow of the installer will require a little testing and honestly I just want to play videogames for today.

I will upload the files here after I finish Wata.

[2017-05-09 21:30] ItaloKnox commented on #1
'k, I'm done with Onikakushi and Watanagashi.

@enumag can you check at least one of the files to see if the whole thing is there? Didn't get any errors but we should make sure there's nothing wrong before this goes into production. Links are below. Also, can you give me an ETA for Tata and Hima?

Also @jwgrlrrajn, the links to the new MG sprites are here: http://ichigohi.me/root/?dir=higurashi
If

[2017-05-09 21:38] enumag commented on #1
Tata should be ready although I wanted to double check it before telling you which I didn't do yet. Tomorrow I'll prepare Hima, check everything and re-read your comments to see if there is anything else I should have reacted to.

[2017-05-10 07:39] enumag commented on #1
Himatsubushi is ready to go. Unlike Wata and Tata it didn't have too many duplicates. Tata is double-checked and good to go as well.

There is a minor issue in Hima graphics patch that ri_se_fu_a1.png is a wrong image - Rika should have different set of clothes in this image (check the other ri_se images).

[2017-05-10 07:47] enumag commented on #1
Onikakishi patch from http://ichigohi.me/root/?dir=higurashi seems to be missing some files. Checking the reasons now but until I figure it out you should probably not progress with Tata and Hima.

[2017-05-10 12:54] enumag commented on #1
@ItaloKnox TL;DR: The orphan branch is only a minor nice to have thing. You can just go with git rm to make the process easier for yourself.

Long version: `git rm *` keeps all the previous commits in history. Which means that when cloning you would download all the versions we ever had - that will of course fail because git can't handle such large repos. The orphan branch approach would effective

[2017-05-10 15:34] ItaloKnox commented on #1
That's right, I always forget about the commit history. I'll set up a orphan branch and push these after I finish Hima and Tata today. Thanks a lot for checking it for me.

[2017-05-10 17:26] ItaloKnox commented on #1
Ok, everything done and ready to go. Any reason why I should wait for @jwgrlrrajn before pushing them into the repo?

Also, this

Should it be fixed by @Grelo?

[2017-05-10 17:36] enumag commented on #1
No reason but you can't update the installers to delete the CGAlt directory before @jwgrlrrajn makes the release. You can delete the CG directory though.

I looked into the rika sprites and I'm not sure what to do with it. Either it's just a regular duplicate or a different sprite should be there. It would be best to check it directly in the game but I don't have save files for Hima.

[2017-05-10 17:40] ItaloKnox commented on #1
I see, there's no problem in waiting for him, though. Better release everything together.
I'm thinking about moving the graphics patch over to Github in our resources repo. They're small enough to remotely update, zip and upload. Just need to get used to managing resources through bash.

[2017-05-10 17:52] DoctorDiablo commented on #1
That Rika sprite was intentionally done that way because that particular scene is supposed to use the young Rika sprite.  The proper way to fix it would be to update the script to point to the young Rika variant.  It's only used once.

[2017-05-10 17:55] enumag commented on #1
Regular duplicate then. Alright I'll fix the script. Can you remove the ri_se_fu_a1.png from the graphics patches (CG and CGAlt), @ItaloKnox?

[2017-05-10 18:10] ItaloKnox commented on #1
Sure, I'll keep it in mind when I upload them.

[2017-05-12 16:46] enumag commented on #2
@DoctorDiablo We have a problem, `SetGlobalFlag(AdvMode, 1);` does not work.

[code]

Besides that I would also need a variable because all lines that should be the last on their screen should have `Line_Normal` in adv mode instead of `Line_WaitForInput`.

I think I'll have to make separate scripts after all. :-(

[2017-05-12 20:24] DoctorDiablo commented on #2
There has to be a way to set a variable somehow.  I'll play around with it and get back to you.

You can keep moving forward, we should be able to identify any changes you made and wrap them in if statements later.

[2017-05-12 23:04] DoctorDiablo commented on #2
I couldn't find a way to set a global variable (other than reusing an existing global, which sounds problematic).  The best I could do is to set a local variable at the beginning of main(), which can be read throughout that file.  We'd have to define it once at the beginning of each file, but we could write a simple script to do a quick find/replace and generate both versions of the file so we onl

[2017-05-13 07:47] jwgrlrrajn commented on #1
I updated the Himatsubushi sprites to instead use the younger versions of Rika and Mion as detailed [here](https://github.com/07th-mod/himatsubushi/issues/16). Now that I'm a member, how do I go about pushing the updated CGalt zip to the repo?

[2017-05-13 13:03] ItaloKnox commented on #1
[Here](https://github.com/07th-mod/resources/releases/Nipah), you should be able to edit this release and add your zips. Just be sure to follow the naming pattern, that should be ``Chapter``-CGAlt in your case. This helps us avoid installer bugs. I'll also update the wiki section about it so people won't have to go inside this repo (they're not supposed to) to download your patches.

[2017-05-13 14:13] DoctorDiablo commented on #1
MG is[ done translating the next 3 arcs](https://twitter.com/MangaGamer/status/863121136678301696) and moving on to editing, so... we might be busy again soon.

[2017-05-13 14:36] jwgrlrrajn commented on #1
Finished uploading the MG patches to the resources repo. Question though. My latest Himatsubushi patch uses modified versions of Rika and Mion to match their respective ages in the story; however, there may be some that would prefer the MG sprites as vanilla as possible, aside from the zoom sprites and facial expressions. Should we include an option in the installer for the vanilla MG patch?

[2017-05-13 14:46] ItaloKnox commented on #1
@jwgrlrrajn if you provide an alternative download (can be outside of the repo or in without another name) I can try to make something. Now that the busiest work is finished, I think I can put some more work into the installer.

@DoctorDiablo I think we won't be seeing the next chapter until the last months of the year. They usually go with two chapters a year, but it would be nice if we could hav

[2017-05-13 14:49] jwgrlrrajn commented on #1
What do you mean by "in without another name?" Do you mean include all the vanilla sprites in the same zip as the modded ones?

[2017-05-13 14:51] ItaloKnox commented on #1
Don't mind me, just woke up so my english is a bit rusty. Meant "or inside with another name". Just so it don't conflicts with the default patch.

[2017-05-13 14:54] jwgrlrrajn commented on #1
Got it. I'll use "Himatsubushi-CGAlt-(vanilla).zip" then.

[2017-05-13 14:54] enumag commented on #1
@DoctorDiablo When am I supposed to read the chapters myself? 😆

@jwgrlrrajn Personally I'm against it. I think we should just deliver the best thing we agree on without bothering the user with choices. At least our updated sprites should be the defaults.

@ItaloKnox Well if the number of anime episodes they needed is any reference then Minagoroshi and Matsuribayashi are both even longer then Meak

[2017-05-13 15:02] ItaloKnox commented on #1
Just pushed the new installer script. That was a bunch of work but it was nice and now we can say that every patches follow a defined level of quality. Let's hope we can push the textbox into our next patch. 😄

About the installer itself, I'll make it in a way where the user is not bothered with choices when installing, but running the updater will give him the option of switching to something els

[2017-05-13 15:13] enumag commented on #1
@ItaloKnox On the other hand MG was planning to release [14](http://www.animenewsnetwork.com/news/2015-04-03/mangagamer-licenses-higurashi-hou-myth-visual-novels/.86728) chapters in total. With 2 per year as it has been so far it would take another 5 years to finish. And even longer if they get the rights for console-only args.

[2017-05-13 16:52] enumag commented on #2
I seriously hate this engine. There were several nasty things that each took me hours fo fix:

- In init.txt I can't use the same variable name as in the other files because variables from init are shared with other scripts. As if that wasn't enough it only happens sometimes but not always.
- If `SetNameFormat` is active then first line after every `ClearMessage` is rendered instantly instead of u

[2017-05-13 16:53] Grelo commented on #1
@ItaloKnox Good that you updated the installers but its pointless, cause you need to update voice and graphics patches to a new version too (releases), sry if you did that already.

The remaining arcs are all longer than Meakashi and maybe biggest of all 8 and skimmed through ps3 version i can tell this will be real pain in the ass and will take probably months depending how close they release the

[2017-05-13 17:04] enumag commented on #2
Also I'll need colors for the character names. So far I only added colors for the 5 club members but I consider them temporary.

[2017-05-13 17:12] Grelo commented on #2
@enumag Ill try but, does it have to be without margins? I thought it would be close to something like umineko project have. But ill try your suggestion for now. And what do you mean by character colours? Like deciding which colour to use for different characters?

[2017-05-13 17:20] enumag commented on #2
@Grelo Hmm can you make both for comparison? That would be easiest to decide which is better. Yeah, just colors that should be used for their names. We could color the lines themselves as well if you want.

[2017-05-13 17:25] Grelo commented on #2
Just names are fine. Btw can i try to make complete new textbox or it needs to be this one for consistency? And putting something fancy to the corners? Names must be only in top-right corner? Btw maybe ill post it only tommorow if thats prove to be longer work.

[2017-05-13 17:27] enumag commented on #2
You can make completely new of course.

So far I was unable to position the names anywhere but top-left corner. Maybe @DoctorDiablo would know how to move them elsewhere?

[2017-05-13 17:28] ItaloKnox commented on #1
You're correct, I somehow forgot to update the voice patches. Should do that asap.

[2017-05-13 17:37] Grelo commented on #2
What colour is fitting for theme of Higurashi? Grey is not really nice.

[2017-05-13 17:39] DoctorDiablo commented on #2
If you want the names to show up on the right side, you can do that by sticking some whitespace at the beginning of SetNameFormat() in init. Spaces and tabs both work.

I'd prefer to keep the names on the left side though, because we read left to right.

[2017-05-13 17:42] enumag commented on #2
@Grelo Agreed that gray is not nice. Not sure which color to use though. Some sort of red/brown/orange form the background of [this image](http://pm1.narvii.com/5944/b4f74750b081c12f7e02788e64b7014cb7de1bf1_hq.jpg) maybe?

@DoctorDiablo That won't work since the name have different lenghts.

[2017-05-13 17:43] ItaloKnox commented on #1
Release all four question arcs updates. @Grelo, can you see [this](https://github.com/07th-mod/meakashi/commit/3b985b54b297493d84d0044bc9bf63d6d0159c26#commitcomment-22115574) and tell me if it's correct or if I need to change the filename? If that's correct I'll also push a new version for Meakashi.

[2017-05-13 17:45] enumag commented on #2
@Grelo Or maybe some blue because of Rika and Hanyuu? We could even use different color for every chapter but that would be more work for you.

[2017-05-13 17:46] ItaloKnox commented on #2
I usually associate Higurashi with green, but blue might also work. +points if it's something minimalistic and not really full of colors blended together.

[2017-05-13 17:54] Grelo commented on #2
Ok will try something.

[2017-05-13 17:54] DoctorDiablo commented on #2
@enumag I see, I thought you wanted the text to be offset by some fixed length, but if you want the text to be right-justified, I don't think the engine has any way to do that.

[2017-05-13 18:36] Grelo commented on #1
@ItaloKnox Its correct.

[2017-05-13 18:48] enumag commented on #2
@DoctorDiablo Could you check the [file with names](https://github.com/07th-mod/higurashi-patch-compiler/issues/2#issuecomment-300036328)?

[2017-05-13 19:01] enumag commented on #1
@ItaloKnox Does [this](https://github.com/07th-mod/onikakushi/blob/master/Update/README.md) need some fixing or was the file just forgotten?

[2017-05-13 19:34] Grelo commented on #2
Guuuuys, i cant decide the coulour. More colours than 1 look just ugly and everything than dark colours doesnt even fit and would be unreadable with pure white font.... Idk im working with brown now. I used Renas sprite from anime in the lower corner. Dunno everything is ugly in my eyes :D

[2017-05-13 19:37] enumag commented on #2
@Grelo We can use non-white font if it would help.

[2017-05-13 19:44] ItaloKnox commented on #1
Just forgotten, actually. Didn't even remember we had one of these inside the Update folder.

[2017-05-13 19:45] Grelo commented on #2
Ill show you basics and decide which colour and what step should be next.

[2017-05-13 20:02] enumag commented on #2
I'm bad with colors. Any suggestions @ItaloKnox @DoctorDiablo @jwgrlrrajn ? Here is a screenshot from the game.

![screenshot](https://cloud.githubusercontent.com/assets/539462/26028785/8bbc56fa-3827-11e7-98db-6110bc5ad6b7.png)

My notes:
- Corners have visible edges instead of being really rounded.
- It is still too high in my opinion.
- Maybe too large margin from the sides.

[2017-05-13 20:11] Grelo commented on #2
Better?

![textbox2](https://cloud.githubusercontent.com/assets/22790067/26028878/1029ef64-3829-11e7-84cf-d1959a198f06.png)

[2017-05-13 20:22] ItaloKnox commented on #2
Looks ok overall for me. I would remove the Rena image from the box and only leave the logo, tho. Also if possible would make the box less transparent and push the text a little above.

A little unrelated but somehow I think we could do a lot better with a textbox like [Grisaia](http://cdn.edgecast.steamstatic.com/steam/apps/345610/ss_7ce949a157b07287cce1027975221f751f090544.1920x1080.jpg?t=148149

[2017-05-13 20:28] enumag commented on #2
@Grelo Definitely better. Although I have to agree with @ItaloKnox's suggestion with Grisaia-like textbox.

[2017-05-13 20:28] Grelo commented on #2
Base on @ItaloKnox suggestions

![textbox](https://cloud.githubusercontent.com/assets/22790067/26029012/74481dac-382b-11e7-8b66-541d4d0f492d.png)

Btw Nekopara dont even have text box i think.

[2017-05-13 20:29] enumag commented on #2
@Grelo Nekopara has a textbox, it just is barely invisible.

[2017-05-13 20:30] ItaloKnox commented on #2
Nekopara does have one but it's more like a small gradient than anything else. I like that style.

Can't we go full flat with Higurashi? Honestly I would just copy the newer Grisaia, I think it looks simple and modern.

[2017-05-13 20:33] Grelo commented on #2
I dont know the textbox on Grisaia looks only good for me due to system icons and these small details. Higurashi doesnt have it, it would be plain and empty. Plus enumag should do something with font shadows, borderlines etc to look cooler.

[2017-05-13 20:41] enumag commented on #2
@Grelo I have no idea how to change font shadows and font borderlines in this engine. It is very possible it doesn't even support it.

Empty doesn't mean bad. Look at Steins;Gate or Steins;Gate 0 - simple empty and just fine.

![steins_gate](http://imgur.com/aUso9cR.png)

![steins_gate_0-57a45d9329435](https://cloud.githubusercontent.com/assets/539462/26029089/1dd617d8-382d-11e7-849f-6641394182a3.

[2017-05-13 20:53] ItaloKnox commented on #2
Maybe we can expand from something like this?
![test2](https://cloud.githubusercontent.com/assets/4702556/26029152/a4f9abe0-3804-11e7-9427-9a1064b68c82.jpg)

Here how it looks in game (no text because it's just a mock-up):
![test](https://cloud.githubusercontent.com/assets/4702556/26029148/947302da-3804-11e7-98b5-3266952269a4.jpg)

*resolution is fucked up because I didn't scale it back to 720p

[2017-05-13 21:00] Grelo commented on #2
Ok something like that its fine but what next? Btw enumag i think dont add colours to names and makes the names smaller a little bit.

[2017-05-13 21:04] enumag commented on #2
@Grelo I'd like to have a good window filter first before playing with colors, font-size and text positioning.

The window filter @ItaloKnox made is just a proof of concept, I'm sure your would look far better.

[2017-05-13 21:11] Grelo commented on #2
But i dont know what you want in it, just logo? Or simple gradient? Guys suggestions!

[2017-05-13 21:18] enumag commented on #2
Ah, alright. Just a gradient with a logo on the right. Maybe not completely bottom right as Italo made it. As for the color of the gradien't I don't know. Can you try the brown thing you put together earlier?

Nice to have might be be some not much visible pattern on the gradient like in new grisaia or steins;gate 0 - but let's try without that first.

[2017-05-13 23:34] jwgrlrrajn commented on #1
Good news, finally finished making and uploading the Meakashi-CGAlt.zip. I really wish I knew who was in charge of packaging the sprites in the official release. Most, if not all, of the sprites were slightly different sizes than their counterparts from previous episodes, meaning I had to frankensprite some of the facial expressions with what sprites episode 5 had, or I had to replace an entire ch

[2017-05-13 23:38] ItaloKnox commented on #1
Awesome, thanks for your hard work. I'll push a new update very soon so it can be installed automatically by the installer.

[2017-05-13 23:52] jwgrlrrajn commented on #2
Can't say I care much for the red. It clashes with the background more than I'd like. I'd personally go with either a neutral color, or maybe a blue with the same brightness and saturation as the red, if not less.

[2017-05-14 06:25] enumag commented on #2
I was experimenting with SVG this morning. The filter is blue-ish, combining both linear and radial gradient.

![svg](https://cloud.githubusercontent.com/assets/539462/26031740/988d3d98-387e-11e7-9fe1-d146f629fb24.png)

![windo_filter](https://cloud.githubusercontent.com/assets/539462/26031741/a877c462-387e-11e7-82af-c53644f81c53.png)

[2017-05-14 07:27] ItaloKnox commented on #2
I like it. It's simple and it seems to do the job quite well, and more importantly, it keeps the screen really clean while providing a readable text.

Can you get some other screenshots in different backgrounds? If there's anything to improve, I would make the outside of the radial more visible, just how it works in Nekopara. Not much, but just bit more.

[2017-05-14 07:36] enumag commented on #2
@ItaloKnox I'd like to but I don't know how. It seems the engine applies some opacity to the filter so I don't know how to make it darker. The corners of the image are already non-transparent.

[2017-05-14 07:57] enumag commented on #2
Also better than sending screenshots is probably to just let you try directly in the game. So here is the patch. Keep in mind that old save files won't work. Also prolog needs manual fixing and name colors are not final.

[avdmode.zip](https://github.com/07th-mod/higurashi-patch-compiler/files/999176/avdmode.zip)

[2017-05-14 08:18] ItaloKnox commented on #2
Oh, I didn't know it applied the transparency automatically. That makes things a lot more complicated.

After seeing it in game I think it looks good enough. Maybe someone can put together something better, but at least for me it seems good enough if everything else fails. I really think it's better when the box covers the entire screen instead of being rounded with empty margins. It did look good

[2017-05-14 10:36] Grelo commented on #2
Its because its only filter and not real textbox so it will be always more transparent. Because of this i cant create better then dark black, grey etc. as yours. If we want a real textbox would need to insert it to script correctly not as wondow filter, but i dont know how to do that.

[2017-05-14 10:58] enumag commented on #2
@Grelo Good suggestion, I'll give it a try. There will probably be some limitations to this approach though.

[2017-05-14 11:27] Grelo commented on #2
Yep it would look a lot better as a normal image

![bg_039](https://cloud.githubusercontent.com/assets/22790067/26033270/0beb7c30-38a9-11e7-8af4-a719c6fdb34e.png)

[2017-05-14 11:55] Grelo commented on #2
If you find out how to do that just let us know here and we can put something together to look good in game. But decide how do you want it to look, your final vision so me or ItaloKnox or someone can put together final version not wasting time on concepts.

[2017-05-14 12:12] enumag commented on #2
I don't have the slightest idea why but Onikakushi just stopped working for me - it is unable to compile scripts. In the log I found an unusual exception `System.NullReferenceException: Object reference not set to an instance of an object`. So sadly no more testing until I figure this out.

[2017-05-14 12:56] enumag commented on #2
NullReferenceException is fixed. My compiler missed an ending bracket of an if.

@DoctorDiablo Any idea how to fix this bug?

![save](https://cloud.githubusercontent.com/assets/539462/26033970/649fb3ee-38b5-11e7-99e4-
bd37f4bca3a6.png)

[2017-05-14 13:30] Grelo commented on #2
From now i hate textboxes.... there is another. I think i will let ItaloKnox make one.

![bg_039](https://cloud.githubusercontent.com/assets/22790067/26034242/24010342-38ba-11e7-8693-eafecdb1a4a4.png)

[2017-05-14 15:07] DoctorDiablo commented on #2
@enumag I don't think there's anything we can do about that bug.  When you save the game, the engine just stores the active line number starts writing all the displayed text from that line there.

Also, one thing to keep in mind is that there's a config setting for the opacity of the text box.  If the users want it to be lighter/darker, they can easily tweak it on their end.
![image](https://cloud

[2017-05-14 16:26] Grelo commented on #2
It was there all the time omg i feel like idiot. Ok @enumag you can work on fonts and names, good luck.

[2017-05-14 16:53] enumag commented on #2
Me too, completely missed that. There is nothing to do about fonts though as I don't know how to change them in this engine. For names I'll reduce font-size and then the only thing left is colors - but I'm not good with them.

[2017-05-14 17:36] DoctorDiablo commented on #2
Here's an updated version of the names file, with all of the questionable items fixed.

[names.txt](https://github.com/07th-mod/higurashi-patch-compiler/files/999594/names.txt)

[2017-05-14 17:37] enumag commented on #2
@DoctorDiablo Thanks!

[2017-05-14 20:41] ItaloKnox commented on #2
I think @Grelo's last textbox looks pretty nice. I don't really like the white line but if you do something like @enumag did before, it should look nice enough for me.

[2017-05-14 21:02] enumag commented on #2
Yeah. I don't like the white line either. Otherwise great work @Grelo!

[2017-05-14 22:28] Grelo commented on #2
Ok guys here it is, im leaving it in your hands. Full transparency box in game and you are ready. Good luck.

![textbox](https://cloud.githubusercontent.com/assets/22790067/26038281/65943f5e-3905-11e7-9646-6a26eba24ce9.png)

[2017-05-15 18:21] enumag commented on #2
Thank you @Grelo!

----

I played with the init script values and the character colors. Personally I'm quite satisfied with the results but of course I'm open to suggestions.

I pushed the patch into a [new branch](https://github.com/07th-mod/onikakushi/tree/adv-mode). Next up is manual fixing of the lines that the compiler didn't manage to fix correctly. The prolog is almost completely wrong but

[2017-05-15 21:05] Grelo commented on #2
@enumag Text refuse to show up after opening game and starting new game, only the textbox, but if i first load an old save then start new game then it shows. Starting new game, then loading old save and again new game didnt work either. How can this be fixed?

[2017-05-15 21:08] enumag commented on #2
@Grelo No idea. It never happened to me. Try clearing `CompiledUpdateScripts` although I doubt it will help.

[2017-05-15 21:10] enumag commented on #2
Also anything interesting in output_log.txt?

[2017-05-15 21:12] Grelo commented on #2
I mean these

1.
![bez nazvu](https://cloud.githubusercontent.com/assets/22790067/26079694/f9137880-39c3-11e7-910c-bdadf89e9c30.png)

2.
![bez nazvuc](https://cloud.githubusercontent.com/assets/22790067/26079702/ff612016-39c3-11e7-89b9-3a3cdbdd60c2.png)

[2017-05-15 21:12] enumag commented on #2
Hmm it seems I never tried starting a new game with the last version - I can see the bug as well now. WTF?

[2017-05-15 21:17] Grelo commented on #2
Thats baaad :( . 2nd issue- can we move the menu more to the right or its impossible?

[2017-05-15 21:20] enumag commented on #2
If I remember correctly there is a way except it also moves the line and arrow/page icon by the same distance so it's useless.

[2017-05-15 21:23] Grelo commented on #2
I think in the himatsubushi issues there is an issue @DoctorDiablo started like unpacking some things and there are system images maybe if i make HD of them it will display correctly?

[2017-05-15 21:25] enumag commented on #2
Sadly @DoctorDiablo never found a way to put the actually open the extracted resources nor a way to put updated resources back in. I tried googling it but couldn't find anything simple either.

[2017-05-15 21:29] Grelo commented on #2
Maybe Mangagamer could lend us some tools :D

[2017-05-15 22:03] ItaloKnox commented on #2
MangaGamer won't but [Doddler](https://twitter.com/The_Doddler) might do something if you guys can talk to him. The only reason the patch got so far was because he implemented a bunch of stuff (Update folder and widescreen, for example) back in Onikakushi.

Anyway, I'll take a couple days off because I'm down with a cold and I can't do anything while feeling like crap. I will still try to keep up

[2017-05-16 16:51] enumag commented on #2
@Grelo I have absolutely no idea what's going on but changing -270 to -269 in init.txt line 14 fixed the problem for me. Can you try is? Don't forget to clean CompiledUpdateScripts.

[2017-05-16 17:07] enumag commented on #2
And now it doesn't work again - even with config that worked just fine before. Not dure if this even can be fixed. The negative second value of SetWindowPos seems to be the only way to push the text to the bottom of the screen.

[2017-05-16 17:41] enumag commented on #2
Ok now it seems that the bug is caused by the `SetDrawingPointOfMessage` function. Which is what causes the prolog to be broken anyway. So if I just surround all calls to this function with `if (AdvMode == 0) {` then it should work. Theoretically. I'll try to get a fix asap.

[2017-05-16 17:51] Grelo commented on #2
Believe !

[2017-05-16 17:54] enumag commented on #2
Done. Please download the latest patch [here](https://github.com/07th-mod/onikakushi/tree/adv-mode) and let me know if it helped.

[2017-05-16 18:37] Grelo commented on #2
It helped, now it displays correctly but the message speed is messed its faster for some reason.

[2017-05-16 18:39] enumag commented on #2
In the prolog or everywhere?

[2017-05-16 18:42] Grelo commented on #2
Beginning of prologue at black background later its fixed in sunset i think.

[2017-05-16 19:17] enumag commented on #2
That is normal and not related to ADV mode. The opening uses `SetSpeedOfMessage` to override the user settings temporarily.

The other issue you mean the blue buttons covering the text? Lines are cut automatically at the end of the specified width. If we reduced the width the lines would be cut earlier. However the window is centered on the screen so it would increase the margin of the left side a

[2017-05-18 16:47] enumag commented on #1
@ItaloKnox It seems the installers do not remove the CG and CGAlt directory before installing the patch resulting in some unnecessary files from the original game being left behind after the installation. I know I warned you against doing it in the past but with the new patches it should be fine.

[2017-05-18 17:05] ItaloKnox commented on #1
Welp, you're correct. I only pushed this change for Meakashi and not for the others. Give me a second to push them.

[2017-05-18 17:35] enumag commented on #1
Thanks. :-) With this all of the issues I was targeting with this compiler are solved now. Big thanks to all of you for making it possible! It is a real pleasure to be a part of such a great team.

[2017-05-18 17:35] #1 closed

[2017-05-18 18:55] enumag commented on #2
Fixed an issue with missing character name at the begining of every script.

[2017-05-19 13:21] enumag commented on #2
@ItaloKnox @DoctorDiablo I started playing Hima in ADV mode. Need some help with some names though.

First `室長` is translated as `Room Monitor` - apparently it's a police chief so should I change it to `Chief`?
Second `男` is translated as `Boy` - in fact it is a detective or in other place a phamacist and there are other cases. Maybe it should be `Employee`?

[2017-05-19 19:59] DoctorDiablo commented on #2
Chief is a good translation of 室長. It's literally the kanji for "room" and "person in charge" so if the room is inside a police station that sounds valid.

男 Is a generic word for a male person.  Might be better to just use something generic like "Man" unless you want to translate it differently based on the context of the scene.

[2017-05-20 13:21] enumag commented on #2
@DoctorDiablo Thank you! I'll use "Man" for now.

@Grelo Actually no I didn't. I just added some stuff to the compiler that might have improved the prolog as well. And I have implemented even more fixes from my testing on Himatsubushi so I need to recompile Onikakushi as well. There should be very little left to fix manually - in Hima I'm mostly fixing things unrelated to ADV mode.

As for removin

[2017-05-20 13:26] enumag commented on #2
@Grelo Pushed the recompiled version of Onikakushi. Please upgrade.

[2017-05-20 13:56] Grelo commented on #2
@enumag Even better, thanks. Didnt spot any weird lines. Names are ok leave them as they are. Now, only auto-read and it would be perfect.

[2017-05-20 16:52] enumag commented on #2
Turns out the last version of my compiler was slightly too aggressive about breaking longer lines to more screens. So I increased the limit a bit and pushed a new version of Onikakushi.

Also I forgot to mention it before. There are rarely some lines that are really long with just a single voice file. Which breaks my assumption and goal about keeping screens to 3 lines tops. I fixed it by decreasi

[2017-05-20 16:54] enumag commented on #2
Also the downside of keeping both NVL and ADV version in single script is that fixing some ADV mode issues (as rare as they are) is quite difficult - even for myself.

[2017-05-20 18:03] Grelo commented on #2
Ok will wait for final version. But from i saw its in pretty good condition. Also if you can use some neutral colour for other than main characters not default white, it would be great.

[2017-05-20 18:04] enumag commented on #2
Sure I can. Any suggestion about the default color?

[2017-05-20 18:05] Grelo commented on #2
Which colours are used? And can you use even non standart colours like cyan etc.?

[2017-05-20 18:12] jwgrlrrajn commented on #2
I've used #fffaaa for narration in a game before. Maybe something like that?

[2017-05-20 18:15] enumag commented on #2
Yeah, the colors are in classic hexadecimal #rrggbb format. So far I only added colors to characters which have sprites in Hima. Here is the list of colors used at the moment. If you want to change any of them, just tell me - I was adding them in a rush. Keep in mind that they can't be dark because of the font shadow.

| name | color |
| --- | --- |
| Keiichi | #a17f7f |
| Rena | #ef8e2d |
| Mion

[2017-05-20 21:19] Grelo commented on #2
@enumag Ok, we dont have nothing around red so idk like  #d57171 something around it( maybe save it for Renas father lover) or greyish #c5c5c5 im ok with both. Your colours are ok.

[2017-05-20 21:28] enumag commented on #2
@Grelo Red is too aggressive for not important characters in my opinion. It's no good for Mamiya Rina either - she needs pink. Grey is overused by Ooishi, Oryou, Akasaka and maybe some other Hinamizawa elders so I'd like to avoid it. I'm actually leaning to the color @jwgrlrrajn suggested above for neutral characters although I didn't try it in the game yet.

[2017-05-20 22:19] DoctorDiablo commented on #2
In general, I think we can just use a character's hair color for their name color, and a neutral beige or gray for any character without a sprite.  The colors don't have to be unique, they're just a quick reference.

[2017-05-20 22:31] Grelo commented on #2
Yea i meant pink for her. Light blue-ish maybe for Hanyuu or light purple, but i saw someone with that in your list. The color @jwgrlrrajn suggested is very similar to Satokos dunno. Still prefer some grey or not expressive colour for unimportant characters and some colorful ones for more screen-time characters.

[2017-05-21 06:25] enumag commented on #2
Ok light blue didn't look too good in the game. On the image below in the middle is #fffaaa. I don't think it's that close to Satoko though. I also tried a beige on the top. The only problem with colors like these is that they're very close to Takano.

![colors](https://cloud.githubusercontent.com/assets/539462/26281649/15c0bde2-3dfe-11e7-981a-c28258aa4f26.png)

[2017-05-21 09:04] Grelo commented on #2
Ok middle one for Takano and first one everyone default.

[2017-05-21 14:37] enumag commented on #2
Because I was using hair colors from MG sprites where Satoko has slightly darker hair. I'll try to mix the colors to something between her MG and PS hair.

[2017-05-21 15:08] enumag commented on #2
Damn Rika has entirely different color in MG then PS as well. The colors will need some work for all characters. Not sure when I can find some time to do it. FInishing Hima and the ADV mode compiler is a priority now.

[2017-05-21 15:08] Grelo commented on #2
They are just colors....#fddb7c should be ok.

[2017-05-31 17:33] enumag commented on #2
@ItaloKnox @DoctorDiablo I need some help with a name again. "おやっさん" is translated as "Landlady". However it is obviously a man - he plays Mahjong with Oishi. Can you give me a better translation?

[2017-05-31 21:18] ItaloKnox commented on #2
Oh, I think I read something that it actually wasn't, it was missing just a bit to become landlady.
I'm not 100% sure about this but I think you can adapt to "Old Man" or anything like that. It's just an old guy.

[2017-06-01 00:55] jwgrlrrajn commented on #2
For what it's worth, Google Translate gives me the word "Gosh" when running it through there.

[2017-06-01 01:52] ItaloKnox commented on #2
Just checked with my friends in our japanese channel and it's correct, should be something like Old Man.

[2017-06-01 18:11] enumag commented on #2
Alright I'll go with that.

[2017-06-09 08:05] enumag commented on #2
I'm about half-way done with Himatsubushi. The issues I'm fixing are almost all unrelated to ADV mode so the compiler is very good it seems.

Someone from MG screwed up hima_tips_08. It was a nightmare to fix for both ADV and non-ADV. https://github.com/07th-mod/himatsubushi/commit/80566a85b2a4f29bebe3e016e4c762b4d1b7c9a9

[2017-06-12 16:52] Grelo commented on #2
Here are both textboxes for future -

![textbox2](https://user-images.githubusercontent.com/22790067/27045081-31c37d50-4fa0-11e7-9d03-5d6cd0b46bb9.png)
![textbox3](https://user-images.githubusercontent.com/22790067/27045082-31c70bb4-4fa0-11e7-874a-aadcfe4962a3.png)

[2017-06-12 16:56] enumag commented on #2
@Grelo Awesome? Can you upload PSD file as well so that we have a backup if we need future changes?

[2017-06-12 17:01] Grelo commented on #2
Changed it again with lower opacity. If you want tweak it or made changes just say. Will upload PSD later.

[2017-06-12 17:57] Grelo commented on #2
Ok use these -

![textbox2](https://user-images.githubusercontent.com/22790067/27047723-5d1006f0-4fa9-11e7-9362-b7243d807b46.png)
![textbox3](https://user-images.githubusercontent.com/22790067/27047724-5d12474e-4fa9-11e7-91d9-130d43161fee.png)

[2017-06-12 18:15] enumag commented on #2
@Grelo I actually liked the previous version better. I would not have noticed the lower cicada quality myself.

- The previous cicadas were larger but very subtle, really nice decoration withought being intrusive at all.
- The current cicadas are smaller, with clearer edges and more visible - far more intrusive.
- The branches are out of my field of vision, far enough from the text to not being in

[2017-06-12 18:57] Grelo commented on #2
@enumag idk if this is it -

![textbox3](https://user-images.githubusercontent.com/22790067/27050139-bf0f574a-4fb1-11e7-808c-9eb5cf51e793.png)
![textbox4](https://user-images.githubusercontent.com/22790067/27050140-bf170de6-4fb1-11e7-9f1c-2ca2410ecdcf.png)

[2017-06-12 19:21] enumag commented on #2
That might be slightly too subtle? Let me try it in the game first.

[2017-06-12 19:27] Grelo commented on #2
![textbox3](https://user-images.githubusercontent.com/22790067/27051318-efdde388-4fb5-11e7-9023-5151bdc6d8fa.png)
![textbox4](https://user-images.githubusercontent.com/22790067/27051319-efe32258-4fb5-11e7-9835-5b0a1c31fd5c.png)

[2017-06-12 19:30] enumag commented on #2
Are you reading my mind? I wanted to say that the logo is fine, maybe too close to the bottom and that cicadas could be just a bit more visible - you fixed both already. :-D Let me try these...

[2017-06-12 19:37] enumag commented on #2
Hmm... logo is good, keep it. I see the cicadas a bit too clearly when reading so something between the last two versions maybe? (Regardless of visibility I still like the old cicadas more to be honest.)

[2017-06-12 19:51] Grelo commented on #2
@enumag I warped them a little -

![textbox3](https://user-images.githubusercontent.com/22790067/27052212-43a2438a-4fb9-11e7-97e0-c00ef773b817.png)
![textbox4](https://user-images.githubusercontent.com/22790067/27052211-439ef4a0-4fb9-11e7-81ee-57d7b37a3f92.png)

[2017-06-12 20:01] enumag commented on #2
How do I say this... thanks but no thanks? :-)

Anyway I decided that for my own personal usage I should just keep the old cicadas and drop the logo. (I just reflected the left side of the image to the right.)

![windo_filter](https://user-images.githubusercontent.com/539462/27052482-1f17de34-4fba-11e7-8f4f-c77916ab66f1.png)

For distribution of the patch the [last non-warped](https://github.com/0

[2017-06-12 20:01] enumag commented on #2
And by good enough I mean awesome. ;-)

[2017-06-12 20:02] Grelo commented on #2
@enumag Ok here have the old ones :D

![textbox3](https://user-images.githubusercontent.com/22790067/27052689-c5c6b1f6-4fba-11e7-986f-ede3c853b197.png)
![textbox4](https://user-images.githubusercontent.com/22790067/27052688-c5c49b5a-4fba-11e7-84d8-dc7190034818.png)

[2017-06-12 20:08] enumag commented on #2
@Grelo Ok, I'm saving these before you decide to edit the comment with something else like you do sometimes. :-D Thanks!

I think I'll leave the final selection for the patches to you. There are multiple very good choices so just tell me which should I commit to the repos. :-)

[2017-06-12 20:10] Grelo commented on #2
Wait maybe better positioning -

![textbox3](https://user-images.githubusercontent.com/22790067/27052966-e67816be-4fbb-11e7-9488-84578036038e.png)
![textbox4](https://user-images.githubusercontent.com/22790067/27052965-e674bd2a-4fbb-11e7-8c09-93fd26f0e5e7.png)

[2017-06-12 20:15] enumag commented on #2
Yup, these are indeed the best so far in my opinion. :-) Anyway my previous comment stands - if you like the newer cicadas and/or more visible logos better then let's go with those for releases. I can always pick something different for myself.

[2017-06-12 20:20] Grelo commented on #2
Its ok they are good. I thought that maybe you dont like them because they are from worse source and a bit blurrier not clean like the new cicadas but you were right the new ones are more weird.

[2017-06-12 20:27] enumag commented on #2
While true, the blurriness is almost unnoticeable.

...Am I seeing things or is the cicada on the right more visible than the cicada on the left? It looks that way when I open the image on black background.

![27052966-e67816be-4fbb-11e7-9488-84578036038e](https://user-images.githubusercontent.com/539462/27053648-47b1f5b0-4fbe-11e7-8863-8e5728318cf8.png)

[2017-06-12 20:28] Grelo commented on #2
They are both 10% oppacity i checked dunno. :/

[2017-06-12 20:29] enumag commented on #2
Just my imagination then. Never mind. ;-)

[2017-06-17 22:31] ItaloKnox commented on #2
Since we're talking about some radical improvements, I just got to play Higurashi Sui on PS Vita and I didn't know it had lipsync. Wish we could include that in our release.

Can we write functions in the scripts? If we could maybe it wouldn't be impossible to do, I have a pretty barebones idea on how to make it, I guess.

[2017-06-18 01:08] jwgrlrrajn commented on #2
It would be cool, although it would be limited to the PS3 sprites unless we had someone talented enough to make the necessary lip movements with the MG sprites.

[2017-06-18 12:45] Grelo commented on #2
If you are capable of doing it, do it. The more perfect edition we can make the better.

[2017-06-18 17:48] enumag commented on #2
If there is a way to write functions I don't know it. We can call a named "section" of code but there is no way to pass it any parameters. Plus sections are only available in the script they are declared. Unfortunately MG has previously refused our attemts to get more information about the scripting language so we can only guess about the syntax to define functions - if the engine even supports it

[2017-06-18 19:01] Grelo commented on #2
I dont even know if lip pics are extracted from PS3 game, are they? If its impossible lets just focus on ADV for now.

[2017-06-18 19:24] enumag commented on #2
Just a note, another thing that I believe is not ported from PS3 is the soundtrack. Maybe we could look into that? It's about the only thing left that I don't like about our patches.

[2017-06-18 19:36] ItaloKnox commented on #2
Yeah, we have the lipsync sprites, there are three sprites for each variation. The thing we needed was something to cycle through these three sprites randomly while a PlaySE voice played. Of course it sounds easy on theory but we would need to make a few adjustments like only cycling through the sprites if the PlaySE corresponds to the talking character (we can do that using the folder number but

[2017-06-18 19:44] Grelo commented on #2
But this will lead to different opinions on soundtrack. I think the PS3 one is inferior, especially in Kai chapters. They kept only the iconic bgms. Or include both?

[2017-06-18 19:47] ItaloKnox commented on #2
Something tells me we can make them change using the original and updated options, but to be honest I also prefer the original soundtrack (hell, even the sprites). But we're working here to make the best possible port of the Sui games, so we should put this in consideration.

If anything, we should let people choose. Maybe that's the best option.

[2017-06-18 19:50] enumag commented on #2
It's easy to add the same condition as we will for ADV mode and have the user decide which soundtrack to use during installation.

[2017-06-18 19:53] Grelo commented on #2
if my gallery is correct then PS3 have cca 106 BGMs, thats around the same as original game. Maybe we can just make separate BGM folder and rename tracks to match originals in their coresponding places. But that will only work if they just replaced original ost.

[2017-06-18 19:55] enumag commented on #2
I never heared the PS3 soundtrack so if you guys say it's worse I'll just take your word for it. I just know that compared to other VNs I've played the current soundtrack is very bad - mostly it feels like there is no soundtrack, just some background noise. Another thing I was considering was using tracks from the anime. Some are quite good imo and should work nicely in VN too.

[2017-06-18 20:00] Grelo commented on #2
I dont know to me the original is just more emotional and represents the atmosphereand age of the game. The new one is just generic imo with only the most famous tracks. But im for if you keep the originals and make the the new optional or switch whatever.

[2017-06-18 20:01] DoctorDiablo commented on #2
I don't think we can directly replace the old music files with the PS3 files, because they changed things up a bit when they added new music.  (well we could, but it wouldn't match up perfectly with the PS3 version) So we'd have to manually update the script the same way we did for ADV to get it supporting both, which might be a lot of work.

I definitely prefer the original soundtrack, but it wou

[2017-06-19 13:40] enumag commented on #2
Back to the topic of the ADV-mode. I finally finished reading Himatsubushi and lately I have mostly been fixing things unrelated to the ADV-mode or things that the script can't possibly fix. So I consider the ADV-mode compiler pretty much complete and I can compile the other chapters as needed.

In the near future I'll compile Onikakushi for @Grelo, Someutsushi for @Aspirety and Tatarigoroshi for

[2017-06-19 13:47] Aspirety commented on #2
Would be wonderful to see Tsumihoroboshi or Kageboshi ship with these ADV modes. I think they look great.

[2017-06-19 13:53] enumag commented on #2
Maybe but I can't promise it. There are some downsides coming with compiling the ADV-mode early during the development. The script is quite ugly after the compilation which makes fixing certain issues more difficult than normally.

[2017-06-19 13:55] Aspirety commented on #2
Hmm I see.

How long do you think it would take to compile a Someutsushi version?

[2017-06-19 14:10] enumag commented on #2
At the moment it depends on https://github.com/07th-mod/higurashi-console-arcs/issues/6.

[2017-06-19 16:47] enumag commented on #2
@Grelo Character colors in Onikakushi and Himatsubushi are updated now. Should be fine with both PS3 and MG sprites now.

[2017-06-19 18:28] Grelo commented on #2
@enumag Is the auto-mod (intro,epilogue, etc.) removed from ADV? That was the issue. Also I thought we are making ADV for all chapters, main 8 at least?

[2017-06-19 18:37] enumag commented on #2
@Grelo They are not. There is no way to make only part of the game as ADV. It's either all or nothing. And yes we're making ADV for all chapters. I can compile all the chapters we have so far if you want, I'm just not sure about official releases (except Hima) because the ADV-mode could introduce some new issues.

[2017-06-19 19:04] ItaloKnox commented on #2
I think we have the perfect timing to release the ADV mode for Meakashi. Summer Sale is coming in three days and it will give us an influx of new players (and issues). Maybe we can use that to collect some issues and push the ADV mode retroactively while there's no new chapter incoming.

[2017-06-19 19:08] Grelo commented on #2
If you remove that auto-mode i can test it from start to finish (all chapters with ADV).

[2017-06-19 19:46] enumag commented on #2
@Grelo Unfortunately the auto-mode parts will have to be fixed manually.

[2017-06-20 08:10] Grelo commented on #2
@enumag What should I delete/add to script to remove it manually?

[2017-06-20 08:44] enumag commented on #2
@Grelo It's not easy to describe. Depends on whether the auto-mode section contains sounds as well. I just finished the changes for Onikakushi, need to check the other chapters.

See https://github.com/07th-mod/onikakushi/commit/38ec670a61559e6718c5976b747f8c6cc7321c73 for details.

[2017-06-20 09:25] Grelo commented on #2
@enumag Prologue is perfect. I will fast check first chapter if i can find errors or bugs.

[2017-06-20 09:27] enumag commented on #2
@Grelo Good, thanks. :-)

Report about the other chapters:
- Hima doesn't use auto-mode.
- Mea only has it briefly in _meak_ep_01
- Wata and Tata both have a TON of this stuff and will take a lot of time to fix.

Considering what @ItaloKnox suggested above, I'll start with Meakashi.

[2017-06-20 11:24] enumag commented on #2
I removed the auto-mode in Meakashi epilogue, improved the ADV-mode compiler, fixed some [bullshit](https://github.com/07th-mod/meakashi/commit/e53a627f6f1d38547d432090ed01ad9c8e798be2) in Meakashi scripts, improved the compiler again and finally compiled the ADV-mode for Meakashi.

@Grelo Can I ask you to test Meakashi a little before we make the official release?

For now it uses the non-Kai ver

[2017-06-20 12:03] Grelo commented on #2
@enumag Ok i tested Onikakushi. Its pretty much perfect. Names and colours are ok. The text are nicely placed in max 3 lines except Renas last pursuit of Keiichi at the end her laugh was 4 line i think and 1 word in tea party.

The backlog is quite messed up sometimes but that cant be fixed i think. So ready for release.

[2017-06-20 12:05] enumag commented on #2
@Grelo Can you give me a screenshot for with the 4 lines screen? I was fixing stuff like that manually in Hima.

[2017-06-20 12:09] enumag commented on #2
@Grelo Also are 3 lines good in your opinion? In some situations I thought that 4 lines might be better (when a character has a longer speech) but it would require decreasing the font-size.

[2017-06-20 12:12] Grelo commented on #2
@enumag

![20170620140846_1](https://user-images.githubusercontent.com/22790067/27332419-15930c4a-55c2-11e7-8494-27325e31520b.jpg)
![20170620141207_1](https://user-images.githubusercontent.com/22790067/27332541-802d446c-55c2-11e7-998a-752717e4e0ca.jpg)

[2017-06-20 15:21] Grelo commented on #2
Testing Meakashi now. Will report after i finish it.

[2017-06-20 15:38] ItaloKnox commented on #2
@enumag
Gotcha. The first point (changing the script based on the choice) seems a bit too bothersome to work on because at some point after things get stable, we're going to make the switch anyway. In this case wouldn't it be better to make the choice lead to the current master of the ADV branch? After we make sure the ADV mode is doing well user-side, we can work on this.

The other two points ar

[2017-06-20 15:43] enumag commented on #2
@ItaloKnox

Fine by me.

Yes I'm trying to keep the ADV branches up to date. Recompiling the patch every time is necessary but it's not too difficult. Later on we will make fixes to the adv branch directly so this won't be needed.

----

Note for myself. Some characters are probably missing colors: Akane, Teppei, Tomita, Okamura, Satoshi

[2017-06-20 15:50] enumag commented on #2
@ItaloKnox Just a small thing to be aware of. Hima adv branch is way ahead with typos, voices and other fixes compared to the master branch. There were too many issues I needed to fix and test right away to recompile the patch every single time so I was commiting them directly to the adv branch.

[2017-06-20 16:06] enumag commented on #2
@ItaloKnox What did you mean by this? Do you want to eventually discontinue the NVL-mode completely and remove the option from the installer?

[2017-06-20 16:18] ItaloKnox commented on #2
I think at some point we should just phase out the NVL mode entirely. Of course it's not up to me to decide but I think most readers enjoy the ADV mode better. Well, maybe not phase out it entirely, since it's just an option that can be enabled or disabled, but just make the ADV be the default and not directly support the NVL mode (just like we do with voices patches after the graphics patch is fi

[2017-06-20 16:27] Grelo commented on #2
From recent VN contest

![bez nazvu](https://user-images.githubusercontent.com/22790067/27344316-2bcfeb3a-55e6-11e7-97ff-4a125c7584f1.png)

[2017-06-20 16:30] enumag commented on #2
@ItaloKnox Personally I agree. I will probably never play Higurashi in NVL mode again and I don't have anything against phasing out the NVL mode completely. (The screen filter @Grelo worked so hard to make is just too gorgeous.)

That said I'd like to point out that maintaining both is actually not a problem. The scripts in adv-mode branch can be used for NVL mode as well. Phasing out NVL mode wou

[2017-06-20 16:38] DoctorDiablo commented on #2
I guess I'm the only oddball who actually likes NVL mode.  If it's not too much trouble, I'd prefer we keep NVL around as an option.  But I'll go with whatever everyone else thinks.

[2017-06-20 16:41] enumag commented on #2
@DoctorDiablo That's quite surprising to hear since Someutsushi is not exactly NVL-mode friendly (most screens only have one or two lines).

[2017-06-20 16:48] Grelo commented on #2
@enumag
Ok im like **halfway** into Meakashi here are the problems for now.
I think Satoshi, Tomita, Kiichiro, Kasai dont kave colors.
These lines need fixing. Whole Keiichi monologue has 4 lines in textbox im posting only some. And Shion fight with Satoko.

![20170620175936_1](https://user-images.githubusercontent.com/22790067/27345025-9fec7e32-55e8-11e7-9953-f90d052fb083.jpg)
![20170620180051_1]

[2017-06-20 16:53] enumag commented on #2
@Grelo That's odd. I had a condition in place to decrease font-sice for a really long lines which can't be broken to multiple screens. I need to investigate why it didn't kick in for these cases. Thanks for reporting.

[2017-06-20 16:53] DoctorDiablo commented on #2
Yeah.  I actually considered removing some of the screen breaks in Someutsushi to make it more NVL style, but I decided against it because it would be a lot of work that hardly anyone would care about.  The PS3 arcs definitely benefit the most from the ADV patch though.

[2017-06-20 17:07] enumag commented on #2
@Grelo Colors are fixed, for Kiichiro I used the color for his skin instead of hair since he's bald. Moving on to the long screens.

[2017-06-20 17:22] ItaloKnox commented on #2
pffffffffffffttttttt hahahahahaha

ANYWAY, I also like the NVL mode but I think it works really well with the PS3 graphics. But if we can have both, then let's have both and install the ADV mode as the default. If someone dislikes it they can just change.

[2017-06-20 18:28] Grelo commented on #2
@enumag
So after finishing second half, i found this.

These lines need fix for 4 line and in some cases text goes way below textbox (clicking and text is standing). The auto-mode at the end has most issues checked it. I forgot 1 screen from that below are only 2 but its one after them.

![20170620193107_1](https://user-images.githubusercontent.com/22790067/27349061-67418768-55f6-11e7-993f-9696eda

[2017-06-20 18:31] enumag commented on #2
@Grelo Please kill me now? Right now I'm seriously considering making the ADV-mode 4 lines to avoid fixin these. :-D

[2017-06-20 18:33] Grelo commented on #2
@enumag
4 lines are too close to the bottom. It doesnt look good.

[2017-06-20 18:34] enumag commented on #2
@Grelo It's fine with lower font-size and line height.

[2017-06-20 18:35] Grelo commented on #2
But like i said some are going way below dont know how much but maybe 6-7 lines.

[2017-06-20 18:39] enumag commented on #2
@Grelo No easy way out, huh? :-D

Anyway this will take more time than I have this week. I doubt I can make it before weekend. :-/

[2017-06-20 18:40] Grelo commented on #2
We believe in you, but weekend is fine :)

[2017-06-20 18:56] DoctorDiablo commented on #2
4 lines sounds reasonable.  Pretty sure the PS3 version did 4 lines in Japanese.  Just make sure the font is still readable in windowed mode.

[2017-06-20 19:29] enumag commented on #2
@DoctorDiablo It is readable although it might be too small on some DPIs. But then again that's already the case on some high DPI monitors anyway so I don't think it's worth considering - those people will play fullscreen anyway.

@ItaloKnox @jwgrlrrajn @Aspirety Can you guys tell me your preference about 3 lines vs 4 lines for ADV mode?

[2017-06-20 19:49] jwgrlrrajn commented on #2
4 lines is fine by me, if not preferred in some cases.

[2017-06-20 20:08] ItaloKnox commented on #2
4 lines should be ok but I'm also fine with 3 lines. No preference here.

[2017-06-21 10:27] Aspirety commented on #2
I think I'm on the 3 lines side of the fence. It just fits really nicely. But I was reading Someutsushi which didn't have many screens that were 4 lines or longer.

[2017-06-21 21:02] enumag commented on #2
Looks like we're pretty much equally split between 3 and 4 lines. That's not helpful you know. :-D Alright I'll stick with 3 lines and try to split all those long screens @Grelo posted above. I might be able to find some time on friday.

[2017-06-21 21:16] jwgrlrrajn commented on #2
Another thing you could do is use a thinner font. Not sure how much that would help, buuuut....

[2017-06-21 21:18] enumag commented on #2
@jwgrlrrajn Not really. The engine does not support custom fonts. It has 3 predefined fonts - the one I'm using in ADV-mode is the thinnest of them (I think).

[2017-06-22 17:57] enumag commented on #2
@Grelo I'm afraid I'll need save files to test some of these. Can't fix them blindly. Can you zip me your save directory for Meakashi please?

[2017-06-22 18:24] enumag commented on #2
Those two issues in Onikakushi are fixed. Also the auto-mode is gone from all chapters.

[2017-06-22 18:29] Grelo commented on #2
@enumag I have only saves from end of the chapters, but if it helps.

https://mega.nz/#!YcdjGB4L!ZM-M-pXtYUCfxgR1TGMKMt_UctzbH9hVn4-KFxxQH-g

[2017-06-22 18:33] enumag commented on #2
@DoctorDiablo @ItaloKnox What does this actually mean `老人`? It's translated as "Old Guy" but @Aspirety reported it's actually a lady. But it's widely used and possibly is sometimes used for men too. Maybe we need some genderless translation here?

[2017-06-22 18:35] ItaloKnox commented on #2
Maybe "Elder" would work.

By the way, I had some issues and couldn't work on the wiki and installer updates. I plan on doing them today.

[2017-06-22 18:39] Grelo commented on #2
@enumag Btw are you planning more stuff for Onikakushi or is it the final (release) version?

[2017-06-22 18:43] enumag commented on #2
@Grelo My todo list for Onikakushi is empty. That means it's final until I get to read it myself. I always find more things to fix while playing.

[2017-06-22 19:27] enumag commented on #2
@Grelo Um where the hell did you find this [part](https://user-images.githubusercontent.com/22790067/27349061-67418768-55f6-11e7-993f-9696eda00b2a.jpg)? I'm unable to find that text in the scripts.

[2017-06-22 19:37] enumag commented on #2
Never mind, found it. It's completely separated to one japanese character per OutputLine call so the wirds are split.

Note for myself: the section begins with voice 150601851.

[2017-06-23 06:36] Aspirety commented on #2
I had a friend that was interested in reading Onikakushi in ADV, might be able to convince him to keep an eye out for problems.

[2017-06-23 07:29] enumag commented on #2
@Aspirety That would certainly be helpful. 👍

@Grelo I'm going through the bugs you reported. I'm editing your comments to keep track of what I already fixed and what I did not. These [two](https://user-images.githubusercontent.com/22790067/27349066-675c9dbe-55f6-11e7-97d5-a93154f449df.jpg) [cases](https://user-images.githubusercontent.com/22790067/27349065-675bd906-55f6-11e7-9d49-f0d252804393.jpg

[2017-06-23 08:07] Grelo commented on #2
@enumag I think you can keep these 2. They are not that close to the bottom so its ok.

[2017-06-23 08:53] enumag commented on #2
@Grelo There, most of the issues are fixed, the rest are blocked for now by other issues where I need some help (more info in your comments above). Also some fixes are in the master branch, others in adv-mode branch, need to merge them later. I'll do that when the rest is taken care of.

[2017-06-23 09:05] enumag commented on #2
@Grelo Would you be willing to test Tata next? I just recompiled it using the latest compiler.

[2017-06-23 09:17] enumag commented on #2
@ItaloKnox "Elder" is already used as translation for both `年寄り` and `長老`. Now it would be for ` 老人` as well. Is it ok? What are the differences in japanese?

[2017-06-23 09:21] Grelo commented on #2
@enumag Im on it. I can test wata and hima too, i have time now. So if you can prepare them, it would be great.

[2017-06-23 09:30] enumag commented on #2
@Grelo Great!

Wata is ready too, I just compiled it today. I'd like you to start with Tata though.

Hima is actually just about ready for release. It's the only one I have tested personally so I doubt you'll find many errors there. I think you can just skip it. If you want to test it anyway, I'd recommend keeping it as the last one after Tata and Wata.

Some is compiled too but I think you should

[2017-06-23 09:56] Grelo commented on #2
@enumag Ok just Tata and Wata.

[2017-06-23 11:22] Grelo commented on #2
@enumag
First half:

Line before this should have Satokos name on top:

![20170623114841_1](https://user-images.githubusercontent.com/22790067/27480015-9f952602-5816-11e7-8869-b72e4cec60b0.jpg)

Line before these were 4 lines:

![20170623120543_1](https://user-images.githubusercontent.com/22790067/27480046-c6e0a3c6-5816-11e7-96b2-0efd448acff1.jpg)
![20170623124616_1](https://user-images.githubuser

[2017-06-23 12:11] enumag commented on #2
@Grelo All of these should be fixed now. :-) https://github.com/07th-mod/tatarigoroshi/commit/a586def92003873e3a478c5895e13f4625a7da62

[2017-06-23 12:54] Grelo commented on #2
@enumag
Second half:

Was almost perfect. Thanks to the smaller font i think which i noticed. Maybe if you can utilize it for all chapters, that would fix all problems.

lines before these = 4 lines:

![20170623143745_1](https://user-images.githubusercontent.com/22790067/27482956-b53d3f6e-5823-11e7-8464-a0a16ee5202f.jpg)
![20170623144738_1](https://user-images.githubusercontent.com/22790067/274829

[2017-06-23 12:58] enumag commented on #2
@Grelo The smaller font is there for all chapters but it's only used when the line cannot be broken to more lines. Other cases should be fixed manually by breaking the text to multiple screens.

[2017-06-23 13:03] Grelo commented on #2
@enumag Btw the Mion fails, i think you there were even the Mion voices so you can delete them too

[2017-06-23 13:06] enumag commented on #2
@Grelo I just did. The name was match based on the voice so if the name is wrong, voice is too.

The line before [this](https://user-images.githubusercontent.com/22790067/27482956-b53d3f6e-5823-11e7-8464-a0a16ee5202f.jpg) is smaller font so it should be alright.

[2017-06-23 13:11] enumag commented on #2
@Grelo Alright everything you reported should be fixed in Tatarigoroshi. :-)

By the way some time ago you [said](https://github.com/07th-mod/meakashi/issues/1#issuecomment-298428931) you wanted to make better scenario unlock screens. Are you still planing to do that? I think it would be nice if we could release them alongside the ADV-mode.

[2017-06-23 13:23] ItaloKnox commented on #2
@enumag Not many but here's a breakdown:

年寄り (toshiyori) = an old person
長老 (chourou) = the oldest elder (heh)
老人 (roujin) = another old person (means the same as toshiyori)

I don't know the specifics if there is a way to properly adapt them, so I can't help much with this. Maybe in Japan they use them in different contexts and we just don't know it.

[2017-06-23 13:31] Grelo commented on #2
@enumag The problem is they are not used. So i created only the ones which are displaying in the end of each chapter.

[2017-06-23 13:32] enumag commented on #2
@ItaloKnox Maybe `senior` could work?

@Grelo Oh I didn't know that. But we could probably add a usage to the script if you want.

[2017-06-23 13:34] ItaloKnox commented on #2
Should be fine, I guess. I didn't suggest this before because in my language we don't use it in this context, so it was my fault when translating.

[2017-06-23 13:36] enumag commented on #2
@ItaloKnox No worries. Just tell me which translation to use for which japanese word. I'm not sure about the nuances of this.

[2017-06-23 13:38] Grelo commented on #2
The ones in Meakashi are stuff room and similar which question arcs dont have so we cant use them i think.
And question arcs have all cast review sessions which are included in the one created. So dunno.

[2017-06-23 13:41] ItaloKnox commented on #2
I did some search and indeed they mean the same, so maybe try putting ``senior`` on toshiyori. I think it works better there.

[2017-06-23 13:43] enumag commented on #2
Just toshiyori? Or roujin too? You said they were the same.

[2017-06-23 13:46] ItaloKnox commented on #2
Sorry, I forgot you said all three would use the same word. That makes things a little more complicated, maybe this can work?

年寄り (toshiyori) = senior
長老 (chourou) = elder
老人 (roujin) = old person

They mean the same but at least we can differentiate them a bit.

[2017-06-23 13:49] enumag commented on #2
Well they don't all have to be different. There are more duplicates in the names than just these. I'll go with your list and recompile the ADV patches. Thank you!

[2017-06-23 14:12] Norgus commented on #2
FWIW chourou is a little different in that it refers to an elder person
with particular respect (not that the others are generally disrespectful).
It's pretty much a title (like village elder), so I'd agree that elder is a
sensible translation.

On 23 June 2017 at 14:49, Jáchym Toušek <notifications@github.com> wrote:

[2017-06-23 14:12] Norgus commented on #2
Also, sorry for my absence, I've been feeling a bit burned out work wise.

On 23 June 2017 at 15:11, Neil Gordon <norgus@gmail.com> wrote:

[2017-06-23 14:17] enumag commented on #2
@Norgus Yeah, I had the feeling that Elder is too respectful to use for all three. But more importantly, welcome back!

[2017-06-23 14:33] ItaloKnox commented on #2
Holy crap, it's Norgus. Nice to see you're still alive and kicking, mate.

Wish you could stick around so the guys won't have to deal with my broken japanese. I've been getting better but you're the pro here, no doubts about that.

Anyway, welcome back! We missed you.

[2017-06-23 14:43] Norgus commented on #2
Thanks guys, I'll see how I'm feeling once I'm a bit less busy on
professional translation (nothing creative, sadly!)

I kind of need to relearn the github workflow too, lol.

On 23 June 2017 at 15:33, Ítalo Bruno Andrade <notifications@github.com>
wrote:

[2017-06-23 15:41] enumag commented on #2
@ItaloKnox Oni. Tata. Hima and Mea are all ready for ADV-mode release.

I'll read Tata next and fix anything I find there. But as you know it might easily take me a month to finish so it's probably not worth it to wait with the release.

[2017-06-23 15:57] Grelo commented on #2
Just wait a couple of hours for Wata and you can release them all.

[2017-06-23 15:59] ItaloKnox commented on #2
Good, I'm working in the wiki update right now. By the way, I'll be including the ADV mode in the updater instead of the installer. I hope that's ok. I think it makes it a lot easier to switch in and out and we'll avoid people picking the ADV mode while it's not fully stable.

And something else I would like you to check for is which chapters are already ready for testing. I'll make a table with d

[2017-06-23 16:22] enumag commented on #2
@ItaloKnox Ok, I'll give you the current state for all chapters with ADV mode. I'll also give you a 1-10 stability score based on my opinion (10 = best).

**Onikakushi** (6) - Tested by Grelo. He only found two issues though. More testing would be good.
**Watanagashi** (2) - Waiting for Grelo to test it. More testing needed later.
**Tatarigoroshi** - (7) Tested by Grelo today, I already fixed the

[2017-06-23 18:41] ItaloKnox commented on #2
Okay, the wiki and installer are updated. There's a big disclaimer about the state of the patch so I think we shouldn't worry too much. Though I think you were a bit too harsh with the scores, it looks great!

Let's give them all a month of testing, so by the end of july we can start preparing for a stable release.

Also someone please check the wiki and double check my text. I was doing a lot of

[2017-06-23 18:43] ItaloKnox commented on #2
Oh, by the way, I left Someutsushi outside of the page because we're still fixing a lot of stuff. Might not be the best thing to put it in there while @Aspirety is going through it.

[2017-06-23 19:27] enumag commented on #2
The scores were meant to show relative stability of the games compared to each other. Also I dislike scores that only use the top half of the scale - it's pointless to have 1-10 scale if everything is 6+, just make a 1-5 scale then. Even the worst (Wata) is actually quite good because the compiler already fixes many common issues. I'm quite proud of the compiler to be honest.

I checked the wiki,

[2017-06-23 19:50] Grelo commented on #2
@enumag

So i finished Wata. Prepare for fixiiiiing :D

So classic 4 lines:

![20170623181739_1](https://user-images.githubusercontent.com/22790067/27497877-fbb90282-585c-11e7-9a3f-cfb7cc97d551.jpg)
![20170623183235_1](https://user-images.githubusercontent.com/22790067/27497883-fc5a1ac8-585c-11e7-9159-074fb4477097.jpg)
![20170623192420_1](https://user-images.githubusercontent.com/22790067/27497879

[2017-06-23 20:00] enumag commented on #2
@Grelo Oh boy. Well I should not be surprised considering how long Wata is. Give me your save files, would you?

[2017-06-23 20:05] Grelo commented on #2
@enumag

https://mega.nz/#!lY8iAaYD!orMnVrHNpLtoLKDlPfsNQwpKU6IXhc3OFxFZUeaQNrE

@ItaloKnox Could you please inform people on Steam about ADV-mode? Maybe in Onik, Meak sections. Im sure more poeple will try it. Thanks.

[2017-06-23 20:44] Aspirety commented on #2
Wow you guys are fast!!

[2017-06-23 21:49] enumag commented on #2
I fixed all the easy ones. I'll check the rest tomorrow.

The fucked up ADV mode in chapter 11 is because of a parse error in the script. It will be difficult to find. :-/

[2017-06-23 22:17] ItaloKnox commented on #2
@Grelo Say no more. 👍

[2017-06-24 04:50] enumag commented on #2
@Grelo The bug is fixed. Could you check chapter 11 now? There might be other issues.

[2017-06-24 08:25] Grelo commented on #2
@enumag Chapter 11 is almost perfect only laugh was 4 lines 👍

![20170624102323_1](https://user-images.githubusercontent.com/22790067/27507048-75e74dd8-58c7-11e7-866f-b3286853fd45.jpg)

[2017-06-27 18:41] enumag commented on #2
@Grelo Huh? This laugh seems to be from chapter 13, not 11. :-D

[2017-06-27 19:36] enumag commented on #2
@Grelo All of the issues you reported should be fixed now. Thank you for the testing! :-) It is actually good that I looked for the voice in Meakashi by mistake - I fixed a few other errors while looking for it.

[2017-06-27 20:45] enumag commented on #2
@ItaloKnox Just to let you know, after the fixes I made today my todolist for all chapters is empty. Well except for reading them but that's a long-term thing in my case. You can go ahead with testing and/or releases as you see fit. ;-) Anything else I can help with?

[2017-06-27 20:48] ItaloKnox commented on #2
You mean, the ADV mode and everything?? Well, that was a *lot* than I expected.

If you think it's already good enough, merge the branches and we'll prep everything for release. I'll try to release one update every day until we are finished with all the chapters.

[2017-06-27 21:06] enumag commented on #2
@ItaloKnox Yep, everything. Honestly there is not that much I had to do with the individual chapters once I had the ADV script finished from testing Hima. I just reworked colors, recompiled everything, merged master branches and fixed all the issues @Grelo reported.

Branches are all merged, even the Wata fix we made today. More testing would be nice of course if you have any volunteers. If you do

[2017-07-13 21:35] enumag commented on #2
Status update: I was kind of fed up with a common bug when a voice starts before a previous one finishes (it happens if there is no wait for user input between the voices). So I wrote a little script to detect these cases and then manually fixed them in all chapters. It helped me to find some other bugs too. Everything is properly merged to ADV branches as well.

My progress through Tatari is slow

[2017-07-13 22:55] ItaloKnox commented on #2
Give me a heads up when you think the scripts are ready. I've been going through some stuff recently but everything will go back to normal in a couple days. That's why I haven't created the new releases with ADV mode yet, so best to wait until we can push an even more complete version.

[2017-07-14 04:11] enumag commented on #2
Look it goes like this. When I read a chapter I'm nitpicking at every little thing. It's mostly not even bugs but small improvements (scene with Kameda was an exception with some real bugs but these are rare).

For example when a character has a monologue which needs to be cut to more screens I make sure that both screens are roughly equal in length instead of one having full 3 lines and the secon

[2017-07-14 06:05] ItaloKnox commented on #2
Oh, I see. I actually thought that was the case but at the same time I thought the scripts would take some more time to get the automated fixes.

Anyway, if you are satisfied with the results, can you merge them with the main branch? After that I'll push a new tag and start preparing the releases. I won't release all of them at the same time but I'll see if I can do at least once a day starting fr

[2017-07-14 06:10] enumag commented on #2
Sure, no need to hurry. Everything is merged right now.

[2017-07-15 18:57] enumag commented on #2
@ItaloKnox I see you released ADV-mode for onikakushi. But it seems that the installer still installs scripts for NVL-mode. Is that intended?

[2017-07-15 19:11] ItaloKnox commented on #2
[I'm pretty sure I updated the installer, though](https://github.com/07th-mod/resources/commit/f217b161f60f71285f2ca7ff2403921657b8adef)...

[2017-07-15 19:13] ItaloKnox commented on #2
Oh, I have to fix the installation order so it won't replace the textbox. Is that what you were talking about?

[2017-07-15 19:15] ItaloKnox commented on #2
Wait a sec, I actually understand it now. The main branch doesn't have the ADV mode merged. I actually thought you merged it.

[2017-07-15 19:17] ItaloKnox commented on #2
There we go, fixed. I hope I never make this many posts in a row again.

Bad forum etiquette, I guess.

[2017-07-15 19:17] enumag commented on #2
Oh. By merging I meant that I merged the master branches into the adv-mode-auto and adv-mode branches. I did not know that you wanted the ADV-mode in master. Should I make this change then? For all chapters?

[2017-07-15 19:18] enumag commented on #2
Also are we dropping the NVL-mode choice then?

[2017-07-15 19:26] ItaloKnox commented on #2
I kinda think there's no point in keeping two branches and start pushing every update in both. Couldn't we change between NVL and ADV by changing the script? If that's true, I think it's kinda pointless to keep two branches when the ADV mode is already stable enough. But anyway, I'm not pulling the trigger or anything, if you want to keep two branches (maybe you can give me a reason why) I'm okay

[2017-07-15 19:29] ItaloKnox commented on #2
Oh, by the way, keeping an ADV dev branch and the master is also okay for me. I mean, you don't have to push your updates to master by default. I just meant to say that the master should already be a stable branch of the ADV mode.

[2017-07-16 05:40] enumag commented on #2
Ah, just a miscomunication between us then. :-) Alright I'll try to explain everything thoroughly.

First, I agree with you that it's better to put the ADV-mode into master branch. If nothing else it will be easier for random contributors to make their changes if the script they have locally looks the same as the master branch. So I'm going to switch the branches. (No, I don't need a separate dev

[2017-07-16 06:49] ItaloKnox commented on #2
(First let me apologise for this post, it's a mess. I guess I'm getting sleepy so my thoughts aren't coming out really well)

I thought that was the case, if we can switch then we should just use the ADV mode as the default after a certain version (let's say, v1.0?). Keeping the old master with a new name makes sense, since at least the first release of every patch will be like that. It makes a lo

[2017-07-16 07:05] enumag commented on #2
Hmm... do you know how to open and edit the global.dat file?

Releasing ADV-mode along with 1.0 might be too early but let's try that for Tsumihoroboshi. We can change it for Minagoroshi if needed.

The difficult manual installation for NVL is probably not so big deal considering that most players prefer ADV anyway. Maybe we could write a simple bash command for that for non-windows users.

Still

[2017-07-16 08:57] enumag commented on #2
@ItaloKnox I renamed the old master branch to legacy and pushed ADV into master for all chapters except Tatari (we need to dolve the pull request I sent earlier first). This may require some change for the meakashi updater?

[2017-07-16 12:46] ItaloKnox commented on #2
I was thinking even simpler than that, just copying it from a fresh game. It shouldn't make any difference if it doesn't store any flags. I'll have to test it first.

I think v1.0 is just a number, the only thing that will change is that everything before that become pre-releases. We're already doing that but in a minor extent, I think it's like two versions before v1.0 (MG sprites were actually v

[2017-07-25 10:07] Grelo commented on #2
@ItaloKnox
Are the fixes from "placeholders" branch included in newest 3.0 Tatari update?

[2017-07-25 10:58] enumag commented on #2
@Grelo Yes they are. I think we can delete the placeholders branch now.

[2017-07-26 11:33] enumag commented on #2
@ItaloKnox Make this clear to me once and for all, would you? I know our policy is to not to cut content that was censored for the console versions and therefore does not have voices. And this is completely fine. But what is our policy about content that was changed on the console but not for the sake of censorship?

Example: In the beginning of tata_009 Keiichi meets Tomitake. In our current vers

[2017-07-26 11:52] ItaloKnox commented on #2
I think you are right. Cases like this mean no harm so we can change them without changing the overall meaning of the story. The example you gave is pretty good and I think we should do it. Of course, I can not translate everything but in simple cases like you said it can be done. Long pieces of dialog will be an issue, but if it's similar to the changes we have done previously, it shouldn't be an

[2017-07-26 12:02] enumag commented on #2
Alright then. Thanks for clearing this up. I always thought about whether or not I should bring it up when I saw such case. It's better to have a clear policy.

I'll create an issue in Tata repo later* with better specification for you.

* By later in this case I mean anywhere between today and the next two weeks. I really don't know at this point, sorry.

[2017-07-26 12:06] ItaloKnox commented on #2
Don't worry about that. We have a lot of time to work on these issues so if you want to do it after you come back from your vacation, there's no problem at all. If anything I think we should all take a small break from the patch. 😆

[2017-07-26 12:11] enumag commented on #2
True enough. Still I'd like to finish Tata first before taking a longer break. I already dropped Tata once a few months ago and don't want to repeat that. 😆

[2017-07-26 14:09] Grelo commented on #2
@enumag
You should do first ending of Himatsu with daughter that is the only inclusion in PS3 i consider worth. I can do sprites for it and put to script after. And not all changes in PS3 are better than original just sayin.

[2017-07-26 15:28] enumag commented on #2
@Grelo Nothing I can do about that myself with no japanese knowledge. And it might be a too difficult for @ItaloKnox to translate.

It is said in Keiichi's inner thoughts that they already met. It is not uncommon to skip re-introduction. For example Shion introduction is completely skipped in Tata. It is just implied that meeting Shion was similar to the one in Wata.

@DoctorDiablo Would you be wi

[2017-07-26 20:34] Grelo commented on #2
@enumag
I was like... if they introduce themselves or not doesnt matter right, meaning of conversation will not change so why change it but if you want go ahaed.

Yea that Himatsu feature would need transaltion but im sure its short one. And adding voices is easy for you as i saw from your previous works. I think it doesnt even need transaltion, its just missing voices.

[2017-07-26 21:16] enumag commented on #2
@Grelo It is already translated and just missing voices? Where? I must have missed that. If it is translated then we can certainly finish it.

Adding voices is actually quite difficult for me. It's fine only when there is just one or two missing and I can make a good guess with the file numbers. But I usually leave any more difficult voice matching to Italo and I just do the quality check and fix

[2017-07-26 21:28] DoctorDiablo commented on #2
I should be able to help out with this.  My translation skills aren't the best, but they should get the job done.  I just need to know where the scene falls relative to the rest of the arc and figure out where to find the dialog in the PS3 script.

[2017-07-26 22:36] Grelo commented on #2
@enumag
I think it was literally at the end of all when they publish but with name "Higurashi When They Cry" at before it (or maybe just this line cant remember).

@DoctorDiablo
Himatsubu starts with Akasaka arriving to Hinamizawa and this scene continues in the last chapter (not sure) and he had his daughter with him in this version hes alone at station with Oosihi so i think somewhere there. Can

[2017-07-27 05:14] enumag commented on #2
Hmm this sounds like there are changes throughout the whole epilogue. Is there a video of the Hima console epilogue somewhere on youtube? (ping @P-Chang) I think it might help here.

[2017-07-27 08:29] Grelo commented on #2
@enumag
Can't you just compare the scripts at the end? I have it on Vita but don't know how to record from it.

[2017-07-27 08:40] Kamil689 commented on #2
Hi, there's a playlist for the PS3 version [here](https://www.youtube.com/playlist?list=PLt1PMnqoYKpQoPFjH-oVpDKhwc7_I7xFp) and for PS2 [here](https://www.youtube.com/playlist?list=PLsL3bwCLzNutaX3GlmGmyI2xe6lQubNUL).

[2017-07-27 09:44] Grelo commented on #2
@enumag
Its part 115-116 from the @Kamil689 playlist, thanks.

[2017-07-27 18:42] enumag commented on #2
Nice. I'll see if I can find it in the PS3 script.

By the way, @Grelo could you upload the PSD of your awesome screenfilter? Not that I need it for anything at the moment, just to have a backup.

[2017-07-27 19:51] DoctorDiablo commented on #2
I found the scenes in the script.  It looks like there are two scenes that need new content added.  One at the beginning of hima_004 in the airport, and one right before the end.  Also, the last few lines behave slightly differently in the PS3 version even though the text is the same.  The PS3 version actually displays images containing the text, while the PC version just draws the text normally.

[2017-07-27 20:10] Grelo commented on #2
I think leaving it as text is better than images. @enumag I can try to find it in files, but you already have image dont know why PSD is necessary :D.

[2017-07-27 21:02] enumag commented on #2
@DoctorDiablo If there are voices then stick to the text in my opinion.

@Grelo Understood, thanks!

[2017-07-27 22:36] DoctorDiablo commented on #2
Ok, I just checked in the updated script for hima_004.txt.  It references a bunch of new sprites and voice files that need to be added to their respective archives.  You can get those [here](https://www.mediafire.com/?lsbhp0ichsrpnxs)

Anyone willing to test it out?  Feel free to fix any typos/graphics/whatever issues.

[2017-07-28 05:00] enumag commented on #2
@DoctorDiablo It defaults to ADV-mode but somehow reverts back to NVL-mode if there is something invalid in the script. The game then does not compile the script like normal but instead somehow interprets it which is a bit broken. We need to check the log to see what exactly is wrong and fix the script. I'm going to test your changes right now so I'll fix it soon.

[2017-07-28 05:03] enumag opened #3 "TODO: Add placeholders to all chapters to check for PS2 voices"
@ItaloKnox Looks like we completely forgot about doing this in other chapters than Tata. I'm creating this issue as a reminder and I'll prepare the branches for you nest week.

[2017-07-28 05:36] enumag commented on #2
@DoctorDiablo I have nothing to say to the translation itself, great job! Here are a few notes from me what I would improve. (I can do it myself next week.)

- Add better name color for Miyuki, matching her hair.
- Try to use MoveBustshot function when she hides behind Akasaka.
- The last 10 voices are missing in the rar archive.

[2017-07-28 07:21] P-Chang commented on #2
@enumag
Sorry, I missed your replies for some reason. Big one is I don't understand github replies.
Is there page like notification of twitter? and solved yet?

I think change epilogue in Hima is really good, but change prologue in Hima is bad.
Probably, it is only for console feature. and may be fit in console arc.

And I'm one of replacing text CG liker but one of disliker of console text CG.
Th

[2017-07-28 07:45] P-Chang commented on #2
and i put another link of PS3 playlist
https://www.youtube.com/channel/UCGT2pb3PmVqgiMIaXT0zOJQ/playlists

both channel have different good things, this one is really separated.

[2017-07-28 09:26] Grelo commented on #2
@enumag @DoctorDiablo
I will fix it and make it FHD but what do i need to download just that archive and that new addition in Hima branch?

[2017-07-28 16:36] Grelo opened #4 "Better looking sprites"
I tried to make sprites in 1920x1080 like background images and figured out that they look slightly better in game. I can make AGAIN whole overhaul of sprites for all chapters if you want. If you decide for than teach me how can i add them to our current graphic folders or i need to make folders to download for you again.

Example:
Old
![re_se_de_a1](https://user-images.githubusercontent.com/22790

[2017-07-28 17:00] Grelo commented on #4
Ok after second look its almost the same. Im closing it.

[2017-07-28 17:16] enumag commented on #4
@Grelo I enlarged them to same size and switched between them for a while to see differences. The **old** one looks better. Significantly.

[2017-07-28 17:20] Grelo commented on #4
Ok than close it i have comapred in game but you are probably right,

[2017-07-28 17:21] enumag commented on #4
Thanks for the effort though!

[2017-07-28 17:21] #4 closed

[2017-07-29 04:52] P-Chang opened #5 "Tips Menu and UI editing."
Unity Assets Bundle Extractor works with Higurashi assets file.
https://7daystodie.com/forums/showthread.php?22675-Unity-Assets-Bundle-Extractor

Changing tips thumbnail and background and UI is possible.

but these aspect ratio are really protected by material(?)

sample: it is just test so it is really ugly.
![20170729120244_1](https://user-images.githubusercontent.com/29869319/28742195-82d780b8

[2017-07-29 11:49] P-Chang commented on #4
i made comparison in different resolution
near 720p
old
![20170729203423_1](https://user-images.githubusercontent.com/29869319/28744589-18701498-749f-11e7-8de6-e1014ff3d6f1.jpg)
new
![20170729203427_1](https://user-images.githubusercontent.com/29869319/28744592-1f346b6c-749f-11e7-8ad8-a0834dba91ce.jpg)

1080p
old
![20170729203434_1](https://user-images.githubusercontent.com/29869319/28744596-2c381

[2017-07-29 12:19] P-Chang commented on #4
I think new one is really good in virtual 2160p with 1080p monitor(but my rig can't handle it).
and fit in background. but in zooming, old one win(blur help this).

I like new one in native resolution of my monitor.
After finish it. if we can choice old one or new one, it  is really good.
This mod is VRAM eater than late 2000s 3D games.

And please, don't change aspect ratio and write file name, n

[2017-07-30 18:36] ItaloKnox commented on #4
I have an IPS monitor so I notice these things immediately and honestly the new sprites are not good going by your comparison. They look too sharp and the colors are definitely wrong. Let's just bury this and move on...

[2017-08-13 19:23] enumag commented on #2
@P-Chang There is the [notifications](https://github.com/notifications) page for your github account. Honestly though tracking issues across multiple related repos is not easy on github.

@Grelo I don't quite remember what is and is not done with Hima, can you give me an update?

- Are those 10 lines you mentioned fixed?
- Do I still need to do some color change?
- Are the FHD images you posted al

[2017-08-13 19:28] ItaloKnox commented on #2
I agree! I actually thought about doing that before but I already manage three Twitter accounts, it's quite a mess.

If you want to do it I'm all in for that. I also thought about starting a site just to make it easier to find all the information about the patch, but that would take some time, so it's up for discussion.

[2017-08-14 09:20] Grelo commented on #2
@enumag
1. No, DoctorDiablo didn't respond since then
2. Yes, Miyuki i think
3. No, not even the old ones
4. I think that's all

[2017-08-14 15:55] enumag commented on #2
@Grelo Thanks. I'll look into it.

@ItaloKnox Alright I'll give it a go. As for the website while I agree I don't want to help with that personally. Web applications is what I do profesionally every day and while I enjoy it I really want to do something else outside of work.

[2017-08-14 21:39] DoctorDiablo commented on #2
Whoops, I forgot to follow up on this one.

[Here's an updated file](https://www.mediafire.com/file/15o8a7vypfzb2do/HimaNewAudio.rar) that contains all the necessary audio, including the 10 missing lines.  We need to add these to the main audio archive, add @Grelo 's graphics patch from a couple posts up to the main graphics archive, and update Miyuki's nametag color in the hima_004 script.

[2017-08-20 20:10] enumag opened #6 "Roadmap"
Too many things are happening at once so I need to write a list of everything we need take care of.

- [x] Write down a list of new global flags and keys (https://github.com/07th-mod/higurashi-patch-compiler/wiki/Notes)
- [x] Some flags need a way to tell which value they have (like censorship - key wont do anything visible, no way to tell if the flag is active or not)
- [x] Finish Hima with Miyuk

[2017-08-22 08:44] P-Chang commented on #6
Is it enough that system voice says current value when pressing hotkey + another key (like "c" + RightShift )?

[2017-08-23 06:25] P-Chang commented on #6
![20170823124847_1](https://user-images.githubusercontent.com/29869319/29601564-2b1ae5ba-8817-11e7-858b-507f54c18e26.jpg)

I made Gflag monitor. What flags that you want to monitoring.

[2017-08-23 17:11] enumag commented on #6
@P-Chang Looks great!

[2017-09-03 16:05] enumag commented on #2
Hima should be all updated for the next release.

As this thread kind is quite long with several topics in it I think it's time to close it. I wrote down a list what we need to do next. Most of the stuff will be done by me and @P-Chang but I'll ask for help when needed.

Big thanks to all of you!

[2017-09-03 16:05] #2 closed

[2017-09-16 14:25] enumag opened #7 "Bugs"
@P-chang The first bug is on the save screen - it does not work well with colors and sizes which we use in ADV-mode. Can you somehow remove the names and tags from the save file titles?

https://www.dropbox.com/s/sky4f6nlrun1lhe/save%20edited.png?dl=0

Second bug is icons positioning. Normally the icons are positioned like this:

https://www.dropbox.com/s/llhz9bg8xct6wm3/icons.png?dl=0

I can move

[2017-09-17 01:51] P-Chang commented on #7
Hmm, I'll try but please don’t expect too much.

[2017-09-17 06:28] enumag commented on #7
I actually don't. I suspect the first problem should be easy to fix by a regular expression somewhere in the saving logic - and I already know you're capable of writing regexps. Second problem is caused by the fact that the game is originally 4:3 and our patch changes it to 16:9 so it should be fixed by changing or adding a constant somewhere in the positioning logic. Finding the right places howe

[2017-09-17 08:17] P-Chang commented on #7
Second one was not difficult as much as we thought.
I have found a way to fix waiting icon positions (but I should find better logic)
http://www.mediafire.com/file/nw2ga70n4rjq131/Assembly-CSharp.dll (it is chapter 5 dlls)

please test many position, I've not understood why it works, and I don't know it works corretly in any position.

I can't understand that Y vector could be change in vanilla bu

[2017-09-17 08:58] enumag commented on #7
It seems to work fine. I didn't tast many different positions but I don't think we need to - we don't want the icons anywhere else than bottom right.

The only issue I found was the positioning being quite broken when I go full screen on a 16:10 monitor. It was better after restarting the game although the icons were off-screen. However this would probably be very difficult to fix and I don't thin

[2017-09-17 10:32] P-Chang commented on #7
Right? could you upload screenshot with 16:10?
My sub monitor is 4:3, I know nearly things with this or other dll.

In user mode, flag monitor is only 2. I don't think reducing is necessary.
I'll remade this in later(when I made new feature for it).

[2017-10-01 07:49] enumag opened #8 "DLL links"
@P-Chang Quite often I have an issue of not being able to find the right DLL version or finding more than one in your comments and not being sure which I should use. I'd like to ask you to post links to the latest DLLs to this issue. And if you make an update, post it here as well (ideally with a short comment what it adds).

Right now I need the correct DLL for Tata. You were working on some magi

[2017-10-01 08:15] P-Chang commented on #8
Line_* command fix for Tata is this.
http://www.mediafire.com/file/mmktlsdtl8zd68h/WaitTestChapter3.rar

[2017-10-01 14:32] enumag commented on #7
Here is how the game looks normally. It looks the same if I go full screen on 16:9 monitor:

![normal](https://user-images.githubusercontent.com/539462/31055600-9b998748-a6c5-11e7-9083-e6601a9f48fd.png)

But if I go full screen on 16:10 monitor then the text is misplaces, CG is cut, icons overlow:

![tata_16_10_1](https://user-images.githubusercontent.com/539462/31055614-cfe810fa-a6c5-11e7-9fbe-73

[2017-10-01 14:34] enumag commented on #6
@ItaloKnox @P-Chang Status update: I just finished tata_009, again fixing some voices and other issues. I played it mostly in auto-mode to test the recent DLL changes. Everything works fine, the game waits for voices as expected. Do you have anything else we should look into before the release? If not I think we can make new releases for all chapters during the next week or two.

[2017-10-01 15:30] P-Chang commented on #7
Hmm, it is same as i know.

Probably save&load issue is fixed in DLL that include Line_* fix.

[2017-10-01 15:45] enumag commented on #7
Indeed it is fixed. I should have checked before asking you. Thanks!

Should I close this or do you want to look into the aspect ratio issues?

[2017-10-01 15:49] P-Chang commented on #7
Honestly, Editing it is scary. I'll edit it in future, but I'll forget it now.

[2017-10-01 18:54] #7 closed

[2017-10-05 13:59] P-Chang commented on #8
Update[2017-10-5]

Fix Line_Continue
Fix Loading Screen can't show ADV Mode Dialog correctly.
Fix Minor small hotkey issues

http://www.mediafire.com/file/4rt313dr8trawt4/chapter1dlls_v3XX.rar
http://www.mediafire.com/file/tihp2mlwqu10c1o/chapter2dlls_v2.x.x.rar
http://www.mediafire.com/file/ab9qvao3o3jp1b5/chapter3dlls_v3.x.x.rar
http://www.mediafire.com/file/tf014pqm25frrnh/chapter4dlls_v.2.x.x.

[2017-10-05 17:01] enumag commented on #6
ping @ItaloKnox @P-Chang

[2017-10-05 17:46] ItaloKnox commented on #6
Damn, I completely missed this when you posted, sorry. I guess we'll need to push updates for all chapters again, right? Since we're doing the dll thing, I will also have to update the install scripts and installer exe.

If you think we're ready for production, I want to start pushing them next week. Are we going all the way to ch.5? It's going to be a little troublesome but I want to push all cha

[2017-10-05 18:31] enumag commented on #6
Yeah, all chapters need the update. I want a green light from @P-Chang before we make the releases but I think we're ready. I'll write you a list with the necessary steps. If you make all releases at once or not is really up to you.

[2017-10-05 18:35] P-Chang commented on #6
I probably finished all that I should do until pre-release.

@ItaloKnox
Please, re-download entire archive until push, just in case. Because, I often updated them.

http://www.mediafire.com/file/4rt313dr8trawt4/chapter1dlls_v3XX.rar
http://www.mediafire.com/file/tihp2mlwqu10c1o/chapter2dlls_v2.x.x.rar
http://www.mediafire.com/file/ab9qvao3o3jp1b5/chapter3dlls_v3.x.x.rar
http://www.mediafire.com/fi

[2017-10-06 05:46] enumag commented on #6
@P-Chang In the zip for Onikakushi I see scripts like onik_op.txt and onik_015_03.txt. If there are some script changes we need to make (including init.txt and flow.txt) changes, can you commit them to the dll-update branch? (For all chapters of course.)

@ItaloKnox Maybe we should give @P-Chang write access to the repositories?

[2017-10-06 18:29] ItaloKnox commented on #6
Yeah, dunno why I didn't do that before. I'll send his invite in a minute.

[2017-10-07 06:12] P-Chang commented on #6
@ItaloKnox
@enumag

Thank you for inviting.

I'm in system reconstruction. so I'll edit init.txt on web quickly.

onik_op.txt and onik_015_03.txt are just demonstration for "ModNVLinADVMode"

and changing of flow.txt is not necessary without "ModNVLinADVMode" and "ModDisableHotkey"
and "dll-update" branch doesn't have these feature now.

[2017-10-07 07:05] enumag commented on #6
There is an issue which never occured to me until now. I'm not sure how the the game works on Linux and Mac but I would assume they don't actually use the same DLL files as the windows version, right? (Can someone confirm?) Which means that we are effectively dropping support for those systems with this realease. Damn.

[2017-10-07 07:47] P-Chang commented on #6
I never have Mac and Linux system. I can't support them.
But I validate Mac dll on Windows system, and it worked.

And I checked DLL of Windows and Mac and Linux.

Mac and Linux are same. and differences between Windows and these are only compatibility checking that if system is windows, engine read kernel32.dll on keyhook(but I can't understand what it is)

Probably, vanilla Windows dll work in M

[2017-10-07 07:53] enumag commented on #6
Do we have someone to test it? I don't have linux or mac at the moment.

[2017-10-07 07:54] Kamil689 commented on #6
Hi, I just checked and it seems to be working fine on Linux.

[2017-10-07 07:54] enumag commented on #6
@Kamil689 You mean even the new DLLs with our dll-update branches?

[2017-10-07 07:56] Kamil689 commented on #6
Yes, everything works.

[2017-10-07 08:06] enumag commented on #6
@Kamil689 Thanks! Hopefully we can assume that Mac is fine too.

----

Alright, in that case we're ready. I'm very pleased with the update by the way. Previously I never used auto-mode because it skipped part of a voice all the time. Now it works fine and the game feels much smoother as a result.

In fact I pretty much dropped Tatarigoroshi yet again before this update because clicking to continue

[2017-10-07 08:18] P-Chang commented on #6
@Kamil689
Thank you for feedback. I'll save compatibility as much as I possible in future update.

@enumag
It is OK.

[2017-10-07 08:50] ItaloKnox commented on #6
@enumag

I don't really understand that part, how will it break the installer? The installer is not exactly pulling any masters at this moment, I keep the updates strictly under tags.

I actually have them uploaded to the resources repo for a while already. Can you get me the images for Kai? If I recall correctly there's a different logo on them. If possible put the images in a folder called CG an

[2017-10-07 08:59] enumag commented on #6
It doesn't? It won't break it then. Ok, I'll merge the branches in a moment.

At some point we decided to always use the non-kai version since the console-arcs will have both non-kai and kai arcs eventually. If you wish to change that I might be able to dig it up though.

I'm not sure if anything will break if they do not exist. Can you answer this @P-Chang?

[2017-10-07 09:00] enumag commented on #6
Oh, no digging needed I guess. I have it right here if you want it: https://github.com/07th-mod/higurashi-patch-compiler/blob/master/data/windo_filter_kai.png

[2017-10-07 09:10] P-Chang commented on #6
No audio alt folder probably doesn't break anything.
But if there are empty folder, user can put their own custom sound tarck file easily.

[2017-10-07 22:02] ItaloKnox commented on #6
I have all the wiki and installer updates staged, all we need now is to pull the trigger next monday.

I also ask for someone to link me the latest dlls for all chapters. I need to prepare the releases.

[2017-10-07 23:33] ItaloKnox commented on #6
Nevermind, @P-Chang sent them earlier. I think I have everything ready for release.

Guess it won't hurt to push them tomorrow.

[2017-10-08 00:04] P-Chang commented on #6
@ItaloKnox
These are newest files.

File that is required in release is included in "Manged".

Other files is not needed now.

http://www.mediafire.com/file/4rt313dr8trawt4/chapter1dlls_v3XX.rar
http://www.mediafire.com/file/tihp2mlwqu10c1o/chapter2dlls_v2.x.x.rar
http://www.mediafire.com/file/ab9qvao3o3jp1b5/chapter3dlls_v3.x.x.rar
http://www.mediafire.com/file/tf014pqm25frrnh/chapter4dlls_v.2.x.

[2017-10-08 06:12] enumag commented on #6
@ItaloKnox I realized I didn't run the automatic changes for all chapters yet and now I made some mistakes when doing so. Give me some time to sort everything out ok?

[2017-10-08 06:14] ItaloKnox commented on #6
No problem, I'm not in a hurry to push these yet. Just let me know when you're done, I'll have to redo the zips.

[2017-10-08 06:15] enumag commented on #6
@ItaloKnox Yeah unfortunately :-( Really sorry about that. I should have realized sooner.

[2017-10-08 06:16] ItaloKnox commented on #6
Nah, don't worry. It takes only a couple of minutes to pull and make the zips.

[2017-10-08 06:39] enumag commented on #6
Glad to hear that.

I'm just about done with the updates. But it would be better if I try and test at least one of the chapters to verify that everything works. I think I'll do Wata because in previous cases it always had the most problems. I'll let you know.

[2017-10-08 10:43] P-Chang commented on #6
Great wroks :)

[2017-10-08 19:05] ItaloKnox commented on #6
*Now* I think we have everything ready. I'll leave the rest of the day open in case we find something to tweak, so let's leave the release to tomorrow like we planned. 👍

[2017-10-08 21:11] enumag commented on #6
@ItaloKnox We could fix [this](https://github.com/07th-mod/tatarigoroshi/pull/37) thing... But I need to test the fix and then @P-Chang would have to upload fixed DLLs for all chapters. Do you wish to wait for that? Otherwise nothing comes to mind.

[2017-10-08 21:14] ItaloKnox commented on #6
Yeah, I've been keeping up with that. There's no problem in waiting, we should aim for the best release possible. If this is something that will have to be fixed, then let's fix it as soon as possible instead of deploying another update only to fix that.

[2017-10-08 21:15] enumag commented on #6
Alright, we'll let you know when it's ready. Thanks.

[2017-10-09 08:45] P-Chang commented on #8
Update[2017-10-9]

Added wait time in Line_Continue

http://www.mediafire.com/file/4rt313dr8trawt4/chapter1dlls_v3XX.rar
http://www.mediafire.com/file/tihp2mlwqu10c1o/chapter2dlls_v2.x.x.rar
http://www.mediafire.com/file/ab9qvao3o3jp1b5/chapter3dlls_v3.x.x.rar
http://www.mediafire.com/file/tf014pqm25frrnh/chapter4dlls_v.2.x.x.rar
http://www.mediafire.com/file/z8xpnbzasjrdvgk/chapter5dlls_v2.x.x.ra

[2017-10-09 08:50] enumag commented on #6
@ItaloKnox All done. The links to new DLLs are apparently still the same (https://github.com/07th-mod/higurashi-patch-compiler/issues/8). Also update the tata scripts zip, ok?

[2017-10-09 20:15] ItaloKnox commented on #6
Ok, everything seems to be ready. I'll start pushing the wiki updates, then the installers (scripts and exes) and then the patches. Hopefully it'll work nicely.

[2017-10-09 20:38] ItaloKnox commented on #6
Well, I guess it's official. Great work, guys. We can now certainly say that this is the best version of the patch.

I have to test the installer, hopefully there are no issues. Shouldn't have any unless I missed something really dumb.

[2017-10-09 21:07] ItaloKnox commented on #6
Yeah, everything seems to be fine. There's one minor thing that I have to fix in the installer but it's nothing that will break any installs using our new patch. 👍

[2017-10-10 10:45] Grelo commented on #6
Guys pls..........

![20171010124220_1](https://user-images.githubusercontent.com/22790067/31382737-f25723c0-adb8-11e7-8145-59a7bddf0af9.jpg)
![20171010124225_1](https://user-images.githubusercontent.com/22790067/31382738-f278807e-adb8-11e7-9450-83c964d2d94d.jpg)

[2017-10-10 10:46] ItaloKnox commented on #6
Did you get the new textboxes?

[2017-10-10 10:49] Grelo commented on #6
Ok i see.

[2017-10-11 17:31] enumag commented on #6
@Grelo If by flicker you mean the fact that the textbox appears for half a second right after you start the game then that's known/unfixable.

[2017-10-19 15:41] enumag opened #9 "Lipsync"
Just so that we don't forget. Maybe we could look into it more after Tsumihoroboshi.

Last discussion is here: https://github.com/07th-mod/onikakushi/issues/90#issuecomment-333356835

[2017-10-28 06:21] enumag opened #10 "Installer: Concurrent downloads?"
@ItaloKnox Just an idea. The installer is downloading several rather large files. This could be a bit faster if they were downloaded concurrently. Is that possible?

(You can close this if you don't want to do it. It's just and idea and not too important.)

[2017-10-28 10:09] ItaloKnox commented on #10
I can make it download several files at the same time but I kinda dislike it because it messes with the structure and makes it hard to follow. Though there are a couple improvements I could make here:

* Allow multiple connections (should have been there already but I forgot) << this would make the patch download way faster overall
* Put the two graphics patches in the same category and have them

[2017-10-28 10:45] enumag commented on #10
Sounds good. :-)

[2017-10-28 11:58] ItaloKnox commented on #10
Good, I'll prepare the updates and give it a little test before pushing them.

[2017-10-28 11:58] #10 closed

[2017-11-14 08:13] P-Chang opened #11 "Higurashi Symlink Installer"
Currently, outdated now.

[2017-11-14 09:08] ItaloKnox commented on #11
Whoa, that's amazing, congrats. For now, I don't think we have a real use for it but it might save some time when we deal with future chapters.

Makes me want to make a patch updater with a GUI like that. Though command line is all I can manage for now.

[2017-11-14 12:46] enumag commented on #11
I'm not quite sure what's the point. Previously there was a need to create these symlinks to save disk space but that's no longer the case.

[2017-11-14 14:39] P-Chang commented on #11
@ItaloKnox
Thank you! I think one that need it doesn't have big population, and it is not needed in soon for most of guys too.
If you need symlinks in later, it could be save your times.

@enumag
It's just optional tool. there are option is always good in my opinion.

**for my use**

I've play mod since mod have installer and compact voice archive. Probably my purporse is different from old one.

[2017-11-14 14:55] enumag commented on #11
Thanks for clarification. I probably won't use it myself for now but I agree it might be good in the future. Good job!

[2017-11-14 15:17] P-Chang commented on #11
@enumag
by the way, how do you think changing ps2 folders numbers?
Leaving same character folder are really complicated.

I prefer completely stick to ps3 folder, or use same as archive.

[2017-11-14 17:44] enumag commented on #11
I'm not sure I understand the problem with ps2 vs ps3 directory numbers. I mean I improved the patches with quite a few ps2-only voices in the past but never noticed such issue. Probably I just completely ignored ps2 directory names and put the voices where they belonged according to ps3 names.

[2017-11-14 18:20] P-Chang commented on #11
Hmm, grep detect 217 line "ps2" in Tata, and my wip exporter copied 204 files and no Teppei voice.
line have "ps2/s03/17"(Teppei in ps2) are 13. probably leaved character is only Teppei.

Problem is small than I thought.

Fortunately 17 are Oryo in ps3 and empty in renamed ps2 folder.

[2017-11-14 18:27] enumag commented on #11
The problem is that previously I didn't put voices in PS2 to separate directory. I only started to do that in the middle of fixing Tatarigoroshi because I noticed that PS2 voices have a lower volume. To fix that I added a volume normalization script into my compiler which is directory based.

Other chapters and event the first few days of Tata don't use this convention.

Teppei had very few lines

[2017-11-14 18:40] P-Chang commented on #11
Okay, I'll fix Teppei number later. and his correct number is 21.
I'll look normalize issue when I re-read each chapter. probaly first is Wata.

I just want to check directory rule before add ps2 voice in Wata, Thank you.

[2017-11-14 18:45] enumag commented on #11
Current rule is PS3 directories which is what you want. If some voice is placed elsewhere it's most likely my mistake - please fix it if you find any. :-)

[2017-11-18 07:05] enumag opened #12 "Fonts"
@P-Chang Would it be possible to hack the DLL to use some different fonts? Firstly it could fix the red X issue in japanese and secondly the current font is awful when turned to italics - so bad that we hardly ever use them.

[2017-11-18 12:34] P-Chang commented on #12
http://www.mediafire.com/file/4u3f8q8y3wk5kqq/fonts.rar

This is font texture that is stored in UnityAssetBundle. And it is controlled by TextMeshPro.
And These image can't be showed correctly without graphic editor that have alpha map support.

If I make my own game in Unity with TextMeshPro, I might find the way to replace font.
But there are really few possibility.

[2017-11-18 17:32] enumag commented on #5
So the aspect ratio can't be fixed?

[2017-11-18 17:40] enumag commented on #12
Oh my. is this for real? I mean that's really not something we want to edit. At best someone might be able to add some chars to fix the red X issue but I consider even that unlikely.

However I don't see any italic characters there so I think italics are handled by the DLL just by skewing the characters when rendering them. Which means it might be possible to make it skew it a bit less than it doe

[2017-11-18 18:43] P-Chang commented on #5
For now, yes. but I thought GUI Pos can be fixed. it might be just my overlooking.
But these have really many components. so it may be so hard to editing, even if I find way.

[2017-11-18 18:52] P-Chang commented on #12
I didn't read console arcs yet. Could you show me specific part of using italic character?

[2017-11-18 19:09] enumag commented on #12
I didn't read it yet either. And in those instances where it was used we removed it later because it looked just awful.

Anyway you can try italics by yourself. If I remember correctly you just need to add `<i>...</i>` to the text.

[2017-11-18 19:33] P-Chang commented on #12
[code]

Thanks, I probably found italic control. but **my Math score were always bad**, I can delete it, but I have no idea for less it.

I re-read this thread https://github.com/07th-mod/higurashi-console-arcs/issues/5

@DoctorDiablo use italic because he use italic as Japanese 『』
If you thought it was awful because character over-wrap "-", is it enough that change "Saeki-san" to "Saeki - san" ?

[2017-11-18 20:10] P-Chang commented on #12
![20171119050845_1](https://user-images.githubusercontent.com/29869319/32984327-e6e826da-cce7-11e7-9566-7ac08a528587.jpg)
![20171119042400_1](https://user-images.githubusercontent.com/29869319/32984328-e8347cc8-cce7-11e7-9aaf-de3e28be48e3.jpg)

It was easy that I thought

[2017-11-18 20:32] enumag commented on #12
The second screenshot is the original and the first is after your midification, right? Great job!

Italic is not supposed to be as distinctive as underline or bold so it's absolutely fine as it is in your first screenshot. I don't think underscore should be used in VN though.

You don't need to create new DLLs for all chapters because of this - it's minor and we will not need it immediately. Just

[2017-11-19 02:49] P-Chang commented on #9
It's just progress report.
I succeed that cycling 2 sprite (me_ta_aw_a1 and me_ta_aw_a2) during text fading.

it's just cycling. don't expect.

I think lip-sync need many work.

In DLL
Insert this in somewhere
Make clone modified drawbustshot and playvoice for lip-sync
Set disable lip-sync code in all "fade" command

In Asset directory
Arrangement character sprite(with all 3 pattern sprite for one

[2017-11-19 03:08] P-Chang commented on #12
It is right. first one is modded font.
This method have too many code, so if it could be replace to another tag, I prefer replace.

But if there are no good replacement until next update, I'll include it.

[2017-11-19 07:05] enumag commented on #12
You mean you want to change for example `<u>...</u>` to be the new italic instead of it's original meaning?

[2017-11-19 07:16] enumag commented on #9
It's nice to see some progress even if it's far from the final thing. 👍

Replacing PlayVoice and DrawBustshot is trivial. Just let me know when you need it.

For CGs it would be best if you coud come up with some naming convention we could use for this, ideally something that does not require us to rename all existing CGs. Maybe we should put the cycling CGs (or even all CGs) to a subdirectory to

[2017-11-19 12:16] P-Chang commented on #12
If there are another good tag, yes.
I just scare this most long code.

But my English knowledge is cheap. so, I also prefer original meaning and I'll leave it you and @DoctorDiablo .

However I can't understand translation rule of 『』 and italic.
I think 「」 and 『』 don't have big differences.

There are many tags, so I think there are way with leaving this code.
But if you want to use new italic fon

[2017-11-19 13:20] enumag commented on #12
In my opinion just changing the current `<i>` would be best since we don't use it as it is anyway.

I don't understand the quoting rules either lol.

[2017-11-19 14:49] P-Chang commented on #9
Dumbest thing are Question and Answer have different name rules.

Answer and archive have same name rule,  so we could use sprite as same as it is.
But For Question, archive or current CG folder sprite need renaming.

Rena archive have nearly 300 files, It is huge as vanilla CG folder.
And some of sprite need Night and Rain and Sunset variation.

Basically I think we should use file name as @Grelo

[2017-11-19 15:07] enumag commented on #9
Don't worry about the naming rules in question arcs for now. Let's start with lipsyncing Meakashi first. Maybe I'll find a way to rename the question arcs CGs with a script.

[2017-11-19 15:16] P-Chang commented on #9
OK, thanks.

I downloaded sprite archives from Xpearse site, it is same as you have?

[2017-11-19 15:20] enumag commented on #9
No I don't have them at all yet.

[2017-11-19 20:06] P-Chang commented on #9
Probably I use these sprite in trial.
I prefer piking it up.

[2017-11-19 20:07] ItaloKnox commented on #9
If you are looking for the high-res sprites, we have a rip of them uploaded on the [resources](https://github.com/07th-mod/resources/releases/tag/Nipah) repo.

[2017-11-19 20:35] P-Chang commented on #9
@ItaloKnox
These are not enough that I need.

I mixed all Rena sprite but there are only 72 sprites.
Most in case, one expression have one sprite.
Lip-sync need over 200 with weather variation sprites for one main character.

[2017-11-19 21:21] ItaloKnox commented on #9
Actually my bad, I have the rips but it was not uploaded to the repository. I'll do it in a bit, just give me a minute to open the server and pull it from my cloud.

[2017-11-19 21:42] P-Chang commented on #9
Development is not fast. There are no need to hurry, and Thank you. I'll pick it up after you finish it.

[2017-11-19 21:43] ItaloKnox commented on #9
There you go @P-Chang. I took the time to upload everything we were missing just in case we need it someday.

The file you need should be the one ending with -Sprites. Those ending in -Graphics have BGs, system and CGs. Also some fun stuff, but mostly useless for us currently.

[2017-11-19 21:57] P-Chang commented on #9
Wait a sec. You mean high-res that was up-scaled 1080p one? I already have 720p source.
If it is 720p, you don't need upload for me.

[2017-11-19 21:58] ItaloKnox commented on #9
Yes, it's the 720p source. The server already uploaded everything so I'll leave it there, no problem.

[2017-11-19 22:08] P-Chang commented on #9
OK, Thanks. I'll use these in trial.

[2017-11-20 20:11] enumag commented on #9
Bit of a bad news... Since the source sprites are smaller than we use in the patches it may not be possible for me to rename them automatically for the question arcs.

[2017-11-21 02:27] P-Chang commented on #9
Bad news2
Improved method that is used in Meakashi is incompatible with my lip-sync code.
Replacing it to old one fixed it. But I can't really say that it will not cause any problem.

@enumag
It seems only way is making diff list. Character have huge sprites are only Main 6 characters.
If we share and decide person in charge character for each person, it will be easy.

[2017-11-21 02:55] ItaloKnox commented on #9
...I suppose @Grelo waifu2x'd them or something? I also noticed our sprites are really low res for some reason. I wonder if the compression isn't making it really bad.

![mion](https://user-images.githubusercontent.com/4702556/33052533-78753e0c-ce56-11e7-8460-33ebdb169856.png)

^ source, our patch and my upscale with waifu2x (resized to fit the current patch resolution)

[2017-11-21 04:04] P-Chang commented on #9
I think it is just sharpening.

By the way, in the past, I tried make filter that make all sprite to 90s Anime like
![re_se_de_a1](https://user-images.githubusercontent.com/29869319/33054417-75ee6bd4-cebc-11e7-8dc3-7e04dc422394.png)

[2017-11-21 07:23] enumag commented on #9
Which method? Do you know what was the "improvement" about?

That is a good suggestion. We might use it later.

Actually while we're at it I'd like to rename the existing CGs too. Still though some variants are never used in question arcs so it should not be that bad.

I'm not certain but I think @Grelo sharpened them a little? Maybe that wasn't the best idea... The problem is that changing it wou

[2017-11-21 09:42] ItaloKnox commented on #9
Seems to be an overall problem.

[Background](http://screenshotcomparison.com/comparison/124161) and [CG](http://screenshotcomparison.com/comparison/124162).

Surprisingly enough doing a new upscale should actually make the patch smaller and look better overall. Perhaps we could even up the resolution to 1440p without much difference in size.

[2017-11-21 11:19] enumag commented on #9
The new upscale CG does look better indeed. With the background I'm not sure which one I like more to be honest.

Still it's difficult to go forward with this unless @Grelo or someone else makes new weather images. I tried to generate them before with a simple script but the result was nowhere near what @Grelo was able to make.

I don't mind 1440p, just beware that the patch size will increase bec

[2017-11-21 19:37] P-Chang commented on #9
Method that control DrawBustshot.

It is bit strange, almost of command that can use in scripts are controlled by 3 method.
But in this case, there are duplicate process.

[2017-11-23 17:53] irlPM commented on #9
Well, I tried some things in the sprites illuminations hope you liked it. If you have any ideas just say so. http://screenshotcomparison.com/comparison/124352 (Left-> Original ps3 sprite, Middle -> Ps3 sprites edited, Right -> 720P higurashi steam patch.)

[2017-11-23 18:00] ItaloKnox commented on #9
I really like the second middle but maybe toning the effect down a little bit would make it perfect. It gives a nice feeling of sunset though I also feel like it blends a little with the background. Not sure if everyone else is a bit conservative in terms of editing the graphics.

A night option should be the best to decide between them, consider making one.

[2017-11-23 20:13] enumag commented on #9
I completely agree with @ItaloKnox.

[2017-11-23 22:01] irlPM commented on #9
Did some changes, what are your thoughts? http://screenshotcomparison.com/comparison/124380

[2017-11-23 22:44] enumag commented on #9
I might have misunderstood something but isn't this the opposite of what @ItaloKnox asked for?

[2017-11-23 22:56] ItaloKnox commented on #9
Yeah, that's right. It should blend just a little less than before, not more. It's almost perfect.

[2017-11-23 23:17] irlPM commented on #9
Sorry, new one. http://screenshotcomparison.com/comparison/124387

[2017-11-24 00:27] irlPM commented on #9
I did 2 versions, which one do you guys prefer? http://screenshotcomparison.com/comparison/124393 and the night version -> https://imgur.com/a/dWMFu

[2017-11-24 00:29] ItaloKnox commented on #9
I would take the second version, look good enough to me. The night version (middle) also looks good, I wouldn't change anything.

[2017-11-24 07:11] enumag commented on #9
Yep, I like the second version too. Night looks good as well.

How are you making these? Do you have a way of making them in batch? Considering the amount of images in the games it would be very difficult to make them manually one-by-one.

[2017-11-24 08:20] ItaloKnox commented on #9
I've been talking with him through Discord and it looks like he managed to make a script to make them in a batch. He's also doing the upscale and will upload the sprite pack for us.

We still have to upscale the backgrounds and CGs, but that's manageable. I'm just wondering how we will rebuild the patch. The filenames are slightly different between PS3 and PC, so we'll need to batch rename those w

[2017-11-24 08:34] enumag commented on #9
I'm not quite sure how far the problem goes. The MG question arcs have entirely different naming than PS3 or Meakashi. Is MG Meakashi the same as PS3 or are there some differences as well? What is our goal with the filenames convention?

I kind of want to postpone the new graphics patches and make them together with the lipsync feature - but I'd like to prepare some scripts in the meantime to make

[2017-11-24 08:56] ItaloKnox commented on #9
Meakashi and PS3 seem to be the same. I guess the issue would be the question arcs.

There is a pattern so maybe this can make things a little simpler:
PS3: ``re1a_waraiA1_0``
Himatsubushi: ``re_se_wa_a1``

Though not every sprite follows the pattern, not sure if deliberate or not:
PS3: ``rim_Warai_0``
Himatsubushi: ``ri_si_ni_a1``

In the first case the ``warai`` matches, but in the second case I

[2017-11-24 09:06] enumag commented on #9
Thanks for the examples. I'll see what I can do about it. But don't expect it to be fast. I have no time this weekend, next weekend I want to finish Tatarigoroshi and I have some plans for december. Plus I'm not quite sure how much time will be needed for this.

Photoshop script is not the best as I can't run it from my code but I don't think it will be needed. However I never worked with Photosho

[2017-11-24 09:12] P-Chang commented on #9
I think "ni" is "nikori" and "niyari" is "ny"

[2017-11-24 09:25] P-Chang commented on #9
Uploaded small test.
http://www.mediafire.com/file/y5j91niaj4c5pc1/chapter1_day3_lip_test.rar

it is available in only chapter1 day3.
one expression is not bug, I was just bothered in replace all.
Didn't have voice length detector yet.

it is not perfect one, so there are some strange point.

I saw some bug (freeze) in developing this. I could fix it but I didn't understand enough reason.

[2017-11-24 09:38] enumag commented on #9
@P-Chang Trying it right now. It's good to see the progress! My notes:

1. Maybe the image swapping might be faster. Sometimes Mion moves her mouth just once for entire line. I'm not sure how fast it is on PS3, please check.
2. You broke the script a little around `ModPlayVoiceLS(3, 5, "s19/05/990500025", 256);`	and `ModPlayVoiceLS(4, 3, "s19/03/990300132", 256);` - these should not play simultane

[2017-11-24 09:54] P-Chang commented on #9
Oh, 4 is  early edit and I completely forget about it. and it's not I saw in test, thanks.

1 is why I just write code that move mouse once, PS3 and PS2 have flow detect, so sometimes faster than it and slower than it.

2 is just test, for check same time speking.

3 Completely sure

[2017-11-24 15:44] irlPM commented on #9
The sprites in 1444p is here guys, if you doesn't have a MEGA paid account, just inbox me that I give you mine ->https://mega.nz/#F!CxkhFQ5Y!eJmJfvohR-OtNfw4LwGB4w

[2017-11-24 17:00] ItaloKnox commented on #9
I'm pulling everything to my server but this will take a while. It'll perhaps time out a couple times because it's almost five thousand files.

After that, I'll push them to our repo in smaller packages.

[2017-11-24 18:53] irlPM commented on #9
Scripts for sunset and night, 100% Complete. I just need someone to categorize the sprites.

[2017-11-24 20:19] irlPM commented on #9
I will upload the script and do a tutorial to apply it in PS.

[2017-11-24 22:22] Grelo commented on #9
Sry for being out of touch for too long.
You can use guys @irlPM 's sprites if you want. I intentionally sharpened them a little because i thought it looks better and i'm still standing for this decision. BG's and CG's too. The only thing i agree with is night and sunset could use a little bit of polish nothing more.
It's on you guys.

[2017-11-25 00:15] irlPM commented on #9
What exactly  are the changes that you want in the sunset/night sprites?

[2017-11-25 03:37] irlPM commented on #9
Sorry for the inconvenient but I'm reuploading the Higurashi sprites, I managed to make a resize 1920x1080 script, So it will be more convenient for future patchs.

For the tutorial and Sunset/Night script, I'll be uploading then after we decide the definitive version of them.

[2017-11-25 09:08] ItaloKnox commented on #9
Don't forget we need the sprites to be in 1280x960 by the end of it. So it goes like: crop (centered, proportion 1280x960) >> resize (bicubic for reduction, 1280x960). Also please put them in a .rar or .zip this time, there are so many sprites in there MEGA took about 10 hours to download them. Could have been in three minutes if zipped.

Either way, I just pushed the two packs containing the port

[2017-11-25 10:01] irlPM commented on #9
Okay dokey~~

[2017-11-25 10:19] P-Chang commented on #9
I notice resize these to 4:3 cause sprite bug today. using 16;9 sprites are cause other problems?

And I hesitate to say that but we might not need to prepare weather variations. I tried some in scripts, it looks not bad for me.

Night background and sunday character
![20171124183536_1](https://user-images.githubusercontent.com/29869319/33229469-df8306dc-d212-11e7-8c76-d3effe1e0792.jpg)

Current s

[2017-11-25 11:27] ItaloKnox commented on #9
Well, it certainly looks good enough but isn't it also making the background darker? That's something I don't want to do.

[2017-11-25 11:27] irlPM commented on #9
For me the current ones looks alot better, just my opinion though

[2017-11-26 01:12] irlPM commented on #9
All the new meakashi sprites, sunset/night included are 100% done

[2017-11-26 01:45] P-Chang commented on #9
I couldn't find shader setteing for only sprite. so, it make BG to darker too.
I think night BG are bit bright for night, so I think it is not problem.

But separate sprite are better than it, so it is only suggestion as another way.

4:3 sprite with 16:9 resolution sometimes cause annoying problem.

[2017-11-26 04:42] P-Chang commented on #9
Update:
http://www.mediafire.com/file/yc4nb5n3ga40qkj/chapter1_day3_liptest2.rar

Add voice length detection.
Add new Draw method for separate drawing.

If it doesn't have game break bug, I probably almost finished it.

I want to add flow detection, but I can't think analyze voice in game is good idea. and bit hard for me.

Anyone can ogg analyze? if we have txt file that have volume every 0.25 se

[2017-11-26 11:31] enumag commented on #9
So are we doing 1080p or 1440p in the end? Or is it not yet decided?

As for the automatic way @P-Chang showed above it doesn't look too good and I don't want to darken the night BGs. It may be fine with your settings but with my low-brightness settings the BGs are already quite dark for me and this makes them almost black.

[2017-11-26 11:37] enumag commented on #9
@ItaloKnox Do you have any idea about voice analyses? You have the most experienced with audio-related things. It would be best to analyze out-of-game and compile the results into some file to distribute with the game.

[2017-11-26 11:59] ItaloKnox commented on #9
The sprites were not 1080p so I think this time we can just put them out with a bit higher resolution. Everything else can stay in 1080p for now. If I recall correctly, the game does scale down the images to fit the screen, right? The sprites will look a bit better then.

@enumag I don't understand exactly what you guys need, so if you can elaborate a bit more I can help.

[2017-11-26 12:25] P-Chang commented on #9
As much as I know, If Image bigger than 480(width) game automatically resize it.
I can't understand why game graphic didn't looks like 480p in higer scale mode.

---
I want to txt file that have like `0,2,1,1,1,1,1,2,1,1,0 ` for every each voice file

0 is quite or silence in 0.00sec
2 is loud in 0.25sec
1 is middle in 0.50sec
1 is middle in 0.75sec
1 is middle in 1.00sec
1 is middle in 1.25sec
1

[2017-11-26 13:14] enumag commented on #9
@ItaloKnox I think that @P-Chang wants to eliminate mouth movement when the character pouses or sighs for a moment - which is quite often. So we need to analyze the voices to know when to do that.

Maybe instead of what @P-Chang said the file could instead have times where to start/stop mouth movement for each voice?

[2017-11-26 14:56] ItaloKnox commented on #9
That doesn't seem feasible. It would be one thing if we had a couple of voices but it's literally thousands of them and as far as I know, the only way to do that is manual. I would have to analyze each spectrum for each file and note the peaks.

One "solution" would be [SoX](http://sox.sourceforge.net/). [Some info](https://unix.stackexchange.com/questions/200557/how-to-detect-peaks-in-audio-file)

[2017-11-26 14:58] ItaloKnox commented on #9
Also @irlPM, sorry to ask but can you change the script to just crop the sprites using 1280x960 as a base? Just skip the resize part, since all we need now is the proportion only. This will make them 4:3 but will preserve the resolution well above 1280x960.

[2017-11-26 15:32] enumag commented on #9
@ItaloKnox I'm a noob about audio, I don't even know what a spectrum is...  But when a program like Audacity visualizes an audio file it knows this kind of information, right? So if we mess around with a library for audio visualisation we might get what we need?

[2017-11-26 15:38] P-Chang commented on #9
OK, waiting someone give me or make it myself if i can.

-----

I put reason why I dislike 4:3 sprite

System set layer aspect ratio as same as sprite, and hold them until system completely release layer.
It sometimes broke next sprite aspect ratio and alpha channels.

I distorted sprite for making it to explicit.

![20171127001425_1](https://user-images.githubusercontent.com/29869319/33241518-e3e

[2017-11-26 15:46] enumag commented on #9
@P-Chang Why did you want 0/1/2 (quiet/middle/loud) values? How do you want to use them (especially the middle value)?

[2017-11-26 15:52] P-Chang commented on #9
sprite have value in the end of name like "me2_AkuwaraiA1_0"

0 is close 2 is middle open 3 is big open.

so read number like `0,2,1,1,1,1,1,2,1,1,0` from text and make it array and loop with for loop in every 0.25sec

[2017-11-26 15:54] enumag commented on #9
@P-Chang That way it would stay at the same sprite for all the "1"s, wouldn't it?

[2017-11-26 15:56] P-Chang commented on #9
Sometimes mouse need keep open.

[2017-11-26 16:07] ItaloKnox commented on #9
@enumag The spectrum logs the whole audio in a graphic where you can see the relation between frequency and audio volume (db). The waveforms when you import an audio track to Audacity are a simplified version of a spectrum. So if you can manipulate this library in your favor, then yes.

The details you are looking for are more in the area of audio engineering. I know some of it but I'm more into a

[2017-11-26 16:15] P-Chang commented on #9
@ItaloKnox
I saw some bug related in 4:3 sprites bug in make lip-sync and making overview animation, so I think keeping 16:9 are good in my opinion.

But we didn't use 16:9 sprite for character long time, so if we find problem with 16:9 sprite in future, we should change them to 4:3

Basically, Vanilla use same aspect ratio sprites in character and BG, so I think we should use same aspect ratio sp

[2017-11-26 16:20] irlPM commented on #9
@ItaloKnox I uploaded a Rika Sprite for you to see yourself. This are the currently sprites quality. what you think about it?  https://mega.nz/#!O1F1yS5R!nv8e8AcypeP5vl9QPMIgDkvdhmxyN3yHo8hbG_pKIWI

[2017-11-26 16:32] ItaloKnox commented on #9
Yeah, that should be the default we were using though I think now we won't even need to crop/resize anything. @P-Chang has a point, we already have everything in 1440p 16:9, so let's just stick with that and not resize/crop anymore.

I want to ask you for something else, @irlPM. Can you try to upscale the cg/bg this time? You'll need this file: [HigurashiPS3-Graphics01.zip](https://github.com/07th

[2017-11-26 16:43] irlPM commented on #9
Okay dokey~~, Thanks for the advice btw.

[2017-11-26 16:47] ItaloKnox commented on #9
Thanks a lot. My server can't help much when you need GPU power and good upload speeds. 😆

[2017-11-26 23:37] irlPM commented on #9
@ItaloKnox https://mega.nz/#!Co8gABDZ!KOp339ef3JypvHPHkKbvjOcKNJXpezHgqdTQ_tCZwpw

[2017-11-26 23:56] ItaloKnox commented on #9
You're the best, I'm putting the server to work now.

[2017-11-27 21:49] P-Chang commented on #9
@enumag
Command replacement sample

it is bit different with command that was used in test archive.

`DrawBustshot( int layer, string texture, int x, int y, int z, bool move, int oldx, int oldy, int oldz, int unuse, int unuse, int unuse, int type, int priority, int wait_time, int wait_bool );`

to

`ModDrawCharacter( int layer, int character_number ,string texture_without_lastnum, int texture_last

[2017-11-27 22:09] enumag commented on #9
@P-Chang This should be doable. Just give me some examples how to separate the original texture param to character_number + texture_without_lastnum + texture_lastnum and give me a table of which character has which number.

I agree that unused arguments should be preserved.

@ItaloKnox I talked with my brother who knows a thing or two about audio and he thinks such analyses should be doable. On th

[2017-11-27 22:15] irlPM commented on #9
@enumag I managed to get a script for renaming files, Umineko is priority for me now, but after finishing I'll be able to rename higurashi too, Just need to find the patterns.

[2017-11-27 22:21] enumag commented on #9
@irlPM Great! There is one problem I wanted to handle alongside the renaming though. Oni, Wata and Hima all follow naming convention that normal sprites are in CG, night sprites in CG/night and evening sprites in CG/sunset. Tata however does not follow this convention which I'd like to fix here. I'm not asking you to fix this but it's definitely something to be aware of when you will try the renam

[2017-11-27 22:47] irlPM commented on #9
Okay Dokey~~,  thanks for the advice, I'll be able to finish umineko in 2/3 days, after that Higurashi all the way.

[2017-11-27 22:50] P-Chang commented on #9
now
`DrawBustshot( 1, "me_si_to_a1", -160, 0, 0, FALSE, 0, 0, 0, 0, 0, 0, 0, 0, 200, TRUE );`
textruename replace
`DrawBustshot( 1, "me2_TokuiA1_0", -160, 0, 0, FALSE, 0, 0, 0, 0, 0, 0, 0, 0, 200, TRUE );`
command replace
`ModDrawCharacter( 1, 3, "me2_TokuiA1_", "0", -160, 0, 0, FALSE, 0, 0, 0, 0, 0, 0, 0, 0, 200, TRUE );`

Mion characte number is "3" is why voice directory is "03" almost of chara

[2017-11-27 22:51] ItaloKnox commented on #9
@enumag I don't think it's such a big deal to release it in its current state, I think we're progressing quite well already. I'm not sure how to analyze thousands of audios but if we find a way we can always release an update. Let's remember how the ADV mode wasn't as flexible back then as it is now. 😆

[2017-11-27 23:13] P-Chang commented on #9
I forget about directory rule discussion.

In my plan,
CG\character
CG\character_zoom

and both directory have, "normal", "sunset", "night", "rain"(don't need this one?)

[2017-11-28 00:05] P-Chang commented on #9
@irlPM
Thank you for help this, but wait a sec.
You mean renaming ps3 sprite that have their own name to current mod sprite name ?

Current mod sprite name are incompatible with my code, it is reason why some sprite name are end with "--" or "zoom" and more. and some sprite name that have "2" in the end is middle opened one and big opened one . Detecting these in game are hard for me and increase

[2017-11-28 06:19] enumag commented on #9
Looks like we will need several renaming rules...

1) Map MG question arcs sprites to correct PS3 names.
2) Meakashi has a mix of sprites with both PS3 and MG question conventions. Aside from kasa sprites there is `ta_si_de_a1`, `sa_si_ak_a1`, `ri_mk_ni_a1` and other sprites with question arcs convention (about 20 in total).
3) Fix directory structure. Meakashi has wrong naming convention for weat

[2017-11-28 14:06] P-Chang commented on #9
Rena and Mion and Rika and Sato are done.
http://www.mediafire.com/file/aou56ofczftr3qm/character_diff_question_1.rar

[2017-11-28 14:42] irlPM commented on #9
Yes, for sure some of the work will need to be manual. But the script will cut off about 80%. I'm renaming some of the Umineko sprites myself.

[2017-12-01 10:36] P-Chang commented on #9
Finished Question main character diff that have vanilla sprite.
http://www.mediafire.com/file/py3je3r3o1w1k53/characterdiff_mainchar_question.rar

Actually, generating diff from renamed and original sprites may be easier than this way.

It is quite a concern. some of character sprites have correct replacement. So renamed sprite archive may  become bigger one, and complicated one.

[2017-12-06 14:12] P-Chang commented on #9
Question reaming character diff
http://www.mediafire.com/file/ywhnda1pe9d88g2/exdiff.xlsx

[2017-12-07 13:58] P-Chang commented on #9
@enumag
I'm improving and fixing some code for lipsync.
Could you make list that have command name that is uesd in each chapter?

[2017-12-07 14:06] enumag commented on #9
@P-Chang I'm not quite sure if I understand what you mean. List of all commands used in each chapter such as

[code]

and so on? For each chapter separately?

[2017-12-07 14:12] P-Chang commented on #9
Exactly, I need to know which is used in chapter for putting disable lip-sync bool.

[2017-12-07 14:26] enumag commented on #9
@P-Chang This bash command seems to do the job. If you don't have linux shell available I'll run it for all chapters when I get home.

[code]

[2017-12-07 14:26] enumag commented on #9
Here is what the command generated for Onikakushi:

[code]

[2017-12-07 14:32] P-Chang commented on #9
@enumag
I don' have Linux system. I ask you.
And thank you for Onikakushi one.

[2017-12-07 19:22] enumag commented on #9
Watanagashi

[code]

[2017-12-07 19:23] enumag commented on #9
Tatarigoroshi

[code]

[2017-12-07 19:25] enumag commented on #9
Himatsubushi (those a, b, c, d are probably from text and not actual commands)

[code]

[2017-12-07 19:26] enumag commented on #9
Meakashi

[code]

[2017-12-07 19:27] enumag commented on #9
@P-Chang Let me know if there is anything else I can help with. Good luck! ;-)

[2017-12-08 15:17] P-Chang commented on #9
@enumag
Thanks, your list make my work to fast.

And I uploaded new Chapter 1 Day 3 test archive.
http://www.mediafire.com/file/a1ij1s9ig2hqb0y/Chpater1_day3_liptest3.rar

What's new

Added separated voice control method for simplify process.
Adjusted Lip-Sync control so that it can run without using public variable.
Added Lip-Sync disable code in Draw and Fade(Scene,Bustshot,Sprite)
Added argumen

[2017-12-08 15:34] enumag commented on #9
@P-Chang Please clarify what changes in the scripts do you want me to make. From your previous post I got these rules:

`DrawBustshot( 1, "<sprite_name>", ...` => `ModDrawBustshot( 1, <number>, "<sprite_name>", ...`

`PlayVoice(3, "<voice>", ...` => `ModPlayVoiceLS(3, <number>, "<voice>", ...`

Where <number> is found in this table:

[code]

I'll need to create a table of character prefix => numbe

[2017-12-08 16:09] P-Chang commented on #9
My explain is always not clear in English, you don't need worry about asking me explain.
I answer all every time.

You mean MG ver sprite name? Child sprites is only available in ch4 so, it may be good that replace them  above.

1. Rule of `DrawBustshotWithFiltering` is changed after masktexture, so basically replacement is same.

2. Always TRUE in replacement.

3. It is OK. `ModDrawCharacter` and

[2017-12-08 16:43] enumag commented on #9
@P-Chang Oh you changed `Bustshot` to `Character` as well, I have not noticed until now. Alright then, so here is the final list of changes:

`DrawBustshot( 1, "<sprite_name>", ...`
=>
`ModDrawCharacter( 1, <number>, "<sprite_name>", ...`

`DrawBustshotWithFiltering( 1, "<sprite_name>", ...`
=>
`ModDrawCharacterWithFiltering( 1, <number>, "<sprite_name>", ...`

`PlayVoice(3, "<voice>", ... )`
=>
`

[2017-12-08 16:50] enumag commented on #9
Well maybe all chapters except Hima... we'll see...

[2017-12-08 17:13] P-Chang commented on #9
Don't worry about it, I need reconstruct workflow for merging them to chapter2-5.
I really want to compile them at once :(

[2017-12-08 17:46] enumag commented on #9
Onikakushi: https://github.com/07th-mod/onikakushi/commit/e708466fdbe6f6c7e42b89ddb262d20470e80ae5

[2017-12-08 18:04] enumag commented on #9
All chapters except Hima now have a lip-sync branch. I'll do Hima later.

[2017-12-08 18:06] P-Chang commented on #9
oh... my fault. probably my explain was lacked.

There are need to replace them to ps3 sprite name and separate last nums like list that I made.

http://www.mediafire.com/file/py3je3r3o1w1k53/characterdiff_mainchar_question.rar
http://www.mediafire.com/file/ywhnda1pe9d88g2/exdiff.xlsx

If you need polished one, I'll remake these xls.

Game scripts need using ps3 sprite name, because pc sprite name

[2017-12-08 18:09] enumag commented on #9
I'm not doing PS3 sprite names, just the lip-sync. @irlPM said he has something for PS3 sprites so I'll wait for when he is finished with umineko. I don't have the time to do it now anyway.

[2017-12-08 18:30] P-Chang commented on #9
I think he misunderstand works. I remember he said "rename sprite" I can't think it is possible in this works.

I checked all spirites. some expression (not mouse move) are not available in PS3, PC and PS3 sprites expression is not compatible. I don't know who did it but he did use some different expression and mouse  variation as expression that is available only PC(I don't have objection for it,

[2017-12-08 18:36] enumag commented on #9
I can make a parser just fine... I look at the excels and maybe it won't be too difficult for me to do. But it seems that the excels contain a lot of information I don't really need. Maybe I can do it if you explain what exactly I'm supposed to do with them...

[2017-12-08 18:38] enumag commented on #9
Oh and the fact that MG sprites don't have all expressions is well known. We just use the once we have and for any we do not have we just copy some that is close. These are then duplicated in the patch but I'd not worry about that. It would be too much work to do differently.

[2017-12-08 18:52] P-Chang commented on #9
I prepare image for explain.

For current MOD, duplicate sprite is not problem. but in lip-sync it seems problem. all sprite need 2  mouse variation and eventually 3 mouse variation. it will be problem. even if only one sprite have missed name, finding it isn't difficult?

[2017-12-08 18:54] enumag commented on #9
Sorry but I do not understand.

[2017-12-08 19:26] P-Chang commented on #9
![pre](https://user-images.githubusercontent.com/29869319/33781334-8520f8cc-dc97-11e7-8da9-4b6d0ae94fa2.png)

OK, I prepared image file.

In this case, current sprite name is `re_se_ko_a1` and PS3 name is `re1a_komaruA1_1`

rename this to `re1a_komaruA1_1`

separate it to `re1a_komaruA1_` and `1`

command become `ModDrawCharacterWithFiltering(2, 2, "re1a_komaruA1", "1", "left", 1, 0, 0, FALSE, 0,

[2017-12-08 19:39] P-Chang commented on #9
sorry for repost

![pre](https://user-images.githubusercontent.com/29869319/33782097-a5e19c58-dc9a-11e7-9d91-e260ea1f6dc3.png)

OK, I prepared image file.

In this case, current sprite name is `re_se_na_a1` and PS3 name is `re1a_nandeA1_1`

And

rename this to `re1a_nandeA1_1`

separate it to `re1a_nandeA1_` and `1`

command become `ModDrawCharacterWithFiltering(2, 2, "re1a_nandeA1_", "1", "left",

[2017-12-09 21:07] P-Chang commented on #9
@enumag

I made simple replacer, but new scripts can't be compile.
Because I only add new expression argument in character sprite.

Probably my lacked explain cause this.
You applied replacement for all DrawBustshot commands.

There are no DrawBustshot commands in lip-sync branch.

DrawBustshot and Drawbustshot for non character sprites must not be replace.

ModDrawCharacter commands every time ma

[2017-12-09 21:34] P-Chang commented on #9
[onik_003.txt](https://github.com/07th-mod/higurashi-patch-compiler/files/1545122/onik_003.txt)

my replacer really made many mistake, but onik_003.txt are completely compiled.
it will probably stop in somewhere because sprite name mistake. but it is enough for showcase.

it needs entire ps3 sprite archive and "m" folder to "normal".
make "character" folder in CG folder, and put "normal" in "chara

[2017-12-10 17:08] P-Chang commented on #9
Update:
http://www.mediafire.com/file/fi3391t4ntmfcjp/chapter1_day3_liptest4.rar
http://www.mediafire.com/file/d11fakfpec9rrb1/PS3VoiceAnalyze.zip

I succeed making true lip-sync(not same routine).
it work with new DLL and unzipped PS3VoiceAnalyze archive.

overwrite it in voice folder, if game can't find lip-sync data txt files, game automatically use old same routine lip-sync.

But sorry, archiv

[2017-12-10 19:42] enumag commented on #9
@P-Chang You your git is setup correctly then it'll commit linux newlines even on windows. Push it to a separate branch and I'll check it.

[2017-12-11 17:47] P-Chang commented on #9
I pushed it in fork
https://github.com/P-Chang/onikakushi/commit/5070d632ba8d0a7dc7654644efb4cae495fc53cb

And, I fix some my replacer, so compiler can completely compile, but probably there are many mistake.

[2017-12-13 12:22] P-Chang commented on #9
Known issues(can't fix in DLL)

LipSync doesn't start after background change

Sometimes ModDrawCharacter(Drawbustshot) was set before DrawSceneWithMask.
It is for drawing character and background same time.

I need put code that disable LipSync in DrawScene

Fix is

[code]
to

[code]

or I'll make new command that store LipSync value without drawing sprite.

Priority problem

Sometimes scene beco

[2017-12-15 21:02] P-Chang commented on #9
Update:
http://www.mediafire.com/file/zoylo9o7oc81q81/chapter1dlls_v4.x.x.rar

What's new
Added new Hotkey and GlobalFlag for LipSync( Hotkey is `7` )
Disabled LipSync in Skip Mode.
Fixed DrawScne(WithFiltering) problem.

Probably, I finished all work in chapter1.
I'll start making chapter 2-5 after receiving feedback from some guys.

I'll check it myself, but someone please test it in entire stor

[2017-12-16 08:07] ItaloKnox commented on #9
Not sure if this has been brought up before, but did you remember to make sure the lipsync doesn't break the MangaGamer sprites?

I'm willing to test it but I'll need some help setting up the sprites. Do we already have a solution for compiling a new graphics patch?

[2017-12-16 13:17] P-Chang commented on #9
There are two way that I can suppose.

1. Renaming all MG sprite base on my diffs
2. Adding argument for old sprite name in command(it is not difficult, but command will become big and complicated. I can't prefer it)

Although, all MG sprites need to resize alpha channel to 16:9.

Setting up is easy. prepare `character` and `character_zoomed` in `CG` folder. and duplicate 3 `m` folder as `normal`

[2017-12-17 12:24] ItaloKnox opened #13 "Issues with DRM-free Onikakushi (Assembly-CSharp.dll related?)"
Ping @P-Chang @enumag.
***

So, I don't know if you guys have been following our Discord (which has been actually a nice addition), but we recently got a lot of issues related to Onikakushi. The DRM-free version sold only by MangaGamer seems to be a version behind (4.6.5f1) while the Steam version is updated (5.2.2f1).

From what I could gather from this issue, installing the patch with the DRM-fr

[2017-12-17 12:32] ItaloKnox commented on #13
By the way, the game closes itself if I put all the files from the Onikakushi Steam version there (didn't we have this issue before?). It only opens with ``steam_api.dll`` alongside the .exe. This is a less than ideal workaround, so I hope we find a way of fixing it.

[output_log.txt](https://github.com/07th-mod/higurashi-patch-compiler/files/1565638/output_log.txt)

[2017-12-17 12:59] ItaloKnox commented on #13
I deleted the previous comment since it might only generate more confusion. Don't mind it if you read it first in your email. :P

[2017-12-17 18:45] enumag commented on #13
Sorry I wasn't following discord.

Did anyone try to contact MG to let them know about the version difference? Is there a similar problem with any other chapter?

The workaround using watanagashi probably doesn't work well with tips, right?

[2017-12-17 18:55] enumag commented on #13
Out of curiosity, where did you find the version numbers?

[2017-12-17 20:20] P-Chang commented on #13
4.6.5f1 and 5.2.2f1 are not game version, it is Unity version.
It's mean both are nearly system but too different system, so patched one doesn't work.
Although, both vanilla DLL are not compatible in vanilla game.

DLL that you uploaded are really outdated one( don't have some code that newest one have)

Probably All files (without MS library and StreamingAssets) are completely different.

[2017-12-18 01:43] ItaloKnox commented on #13
I contacted Doddler earlier today and he said the versions were identical, which is kinda true. It's one version behind, though both versions seem to support the same functions.

You can get them by seeing the .exe properties. Further confirmation can also be found in the output_log.

**That makes so much sense.**
I guess there's nothing we can do, then.

[2017-12-22 16:10] P-Chang opened #14 "Reminder for Chinese update"
MG planed Engine update and implement of Chinese language support.
It may break MOD. and probably updating MOD in same day is impossible.

I can't know when it will come.

Steam user can downgrade with Steam Console

Press this link with your WEB browser
[steam://nav/console](url)

Console tab will available in your steam client.

Press Console tab and paste it in command box.

chapter1
`
download

[2017-12-22 17:01] ItaloKnox commented on #14
I had no idea we could use the console in the client. I always had a copy of steamcmd for that.

Let's hope the update won't break anything. We'll probably have to merge the translation unless we want to get an influx of angry Chinese people.

[2017-12-22 17:08] enumag commented on #14
With all the PS3 changes we have done I think merging the translation wont be possible.

[2017-12-22 17:10] ItaloKnox commented on #14
Oh... you're right. We'll have to find a way of nulling it, then. That will probably be easier than merging, though.

[2017-12-22 17:13] enumag commented on #14
If it is done the way @P-Chang thought on discord then nulling it is trivial for me. On the other hand merging translation would be next to impossible.

[2017-12-22 17:17] P-Chang commented on #14
I do not think it is necessary to exclude the translation from EP6, but it would be impossible for us to merge the translation into the current MOD.

I think Chinese have own huge community, they can be merging own hand like Russian did.

[2017-12-22 17:22] enumag commented on #14
I dont expect them to release EP6 with chinese right away. They need to catch up with 5 episodes of translation first and thats a lot, it will take them a while.

I think we should let the chinese use our patch as they wish and let them do the mod if they want. It would be outside of this group, but we could add a link to our readme.

[2017-12-23 20:39] enumag commented on #9
@P-Chang I'm a bit out of loop since I was too busy. I should have some time over the christmas break though. Can you give me an update on where we're with lip-sync, new graphics patch, etc.? How bad are the performance issues? Can I help with something?

[2017-12-23 21:14] ItaloKnox commented on #9
If I recall correctly @P-Chang managed to make a workaround to fix the performance issues, so maybe we're fine unless someone is really in the low-end spectrum. We might want to clarify that after the patch is done. Hopefully, take a few samples to determine minimum and recommended specs.

At this moment I really want some help compiling the patch. @irlPM was going to work in the graphics, but we

[2017-12-23 21:18] enumag commented on #9
@ItaloKnox I think we're talking about too many things at once in this thread. If you could make a new issue for me about the new graphics patch with more details what the compiler is supposed to do, it would be awesome.

[2017-12-23 21:20] ItaloKnox commented on #9
Sure! I'll give some time to @P-Chang since he might have some specific instructions for that. After that, I'll create it.

[2017-12-23 21:31] P-Chang commented on #9
Deterministic graphic patch is not available yet.
You can use graphic patch as https://github.com/07th-mod/resources/releases/download/Nipah/HigurashiPS3-Sprites.zip

And make `character` and `character_zoomed` in `CG`

and copy `m` and `l` as
[code]
DLL is
http://www.mediafire.com/file/zoylo9o7oc81q81/chapter1dlls_v4.x.x.rar
Performance issue is solved, but I didn't upload it yet, DLL that is not

[2017-12-24 14:08] enumag commented on #9
I think we should leave lip-sync testing for now and do the sprite names replace first. I can write a script for that of course but I need one of you (@ItaloKnox, @P-Chang - preferably @ItaloKnox because your english is better) to make a new issue with link to the latest excel file(s) for renaming and more clear instructions how to use those files. I can transform them to CSVs or something for mac

[2017-12-28 00:52] P-Chang opened #15 "Sprite Replace"
@enumag
http://www.mediafire.com/file/d3hvgydvfqe9c8f/rulefile.csv

1st is PC name that we use now
2nd is PS3 name
3rd is expression

replacement
`ModDrawCharacterWithFiltering(1, 3, "%PCNAME%", "m1", 1, -160, 0, FALSE, 0, 0, 0, 0, 0, 0, 300, TRUE );`
`ModDrawCharacterWithFiltering(1, 3, "%PS3NAME%", "%expression%", "m1", 1, -160, 0, FALSE, 0, 0, 0, 0, 0, 0, 300, TRUE );`

`ModDrawCharacterWithFil

[2017-12-28 09:33] enumag commented on #15
@P-Chang You made some mistake.

This has 18 arguments:

[code]

But this has 19 arguments:

[code]

Since the other two examples have 18 aruments I'm going to assume that the second one is wrong and should look like this:

[code]

----

Next, what about the backgrounds? Do you want to rename them as well somehow or keep them as they are?

[2017-12-28 10:13] enumag commented on #15
Also what should the `%EXPRESSION%` be for things like these?

[code]

[2017-12-28 10:22] P-Chang commented on #15
Sorry for mistake.　I'll edit it and repost.

Expression number is last number of sprite name like re1a_bikkuriA1_`1`(this)
I separate this for non lipsync mode. without this, non lipsync mode is really dreary.

I think background renaming is not necessary.

In my plan. Leaving drawbustshot like using `cinema` and `Title02` and etc as it is.
ModDrawCharacter(WithFiltering) was designed for characte

[2017-12-28 10:24] enumag commented on #15
For onikakushi I found only one missing rule: `me_ta_fu_a2`.

For watanagashi there is one missing too: `me_ta_fu_a1`.

[2017-12-28 10:42] enumag commented on #15
Oh so in the end the correct number of arguments is actually 17? Alright.

[2017-12-28 10:51] P-Chang commented on #15
Yes, sorry for confusing.

basically, drawbustshot plus 2 arguments and drawbustshotwithfiltering plus 2 arguments.

[2017-12-28 10:55] enumag commented on #15
Good. In that case I think I have the script ready for oni and wata except for the 2 missing rules mentioned above.

For tata I'll need to add some additional logic for weather sprites.

For hima I'm not sure how to handle child mion and rika.

[2017-12-28 11:09] P-Chang commented on #15
Thanks.

Child Mion and Rika have only school uniform sprite, and these are used in only omake and, child sprites are not used in omake and normal sprites are not used in main chapter. So I think it's okay to process them separately.

I think ps3 name are used as zoom sprites in chapte3 and 4 is more problem.

[2017-12-28 11:26] enumag commented on #15
Actually I don't think that's a problem. There is only a handful of them so I can easily harscode them in and add the `character_zoomed/` prefix. Are there some more complications?

For weather sprites in tata it seems that sunset sprites have `_b` suffix and night sprite have `_a` suffix so it shouldn't be too difficult either.

The problem with child sprites is that for example `ri_si_de_a1` is

[2017-12-28 11:46] P-Chang commented on #15
http://www.mediafire.com/file/ac9kc0adq9fwi6j/rulefile.csv
Included 2 missing sprite and fix mion sprite's position that I putted in lower.

If you think it is not problem, it is not problem. there are no complication except for chapter5

OK, I'll make it. separated one needs all or only child sprites?

[2017-12-28 11:58] enumag commented on #15
Only child sprites. I can use the other CSV as fallback. But make sure there are no child sprites missing - I won't be able to detect them.

What is the problem with chapter 5 and what can we do to solve it? I thought the sprites there already follow the PS3 naming so I thought it would be easier than the question arcs. Is that not the case?

[2017-12-28 12:12] P-Chang commented on #15
I thought name in chapter 5 is same as ps3. But in vanilla these are bit different. In modded folder, there are question vanilla name and answer vanilla name and ps3 name.

[2017-12-28 12:27] enumag commented on #15
One more problem with hima.

`oryou_Warai_0` is zoomed out
`Sunset/oryou_Warai_0` is zoomed in

Can you tell me what these two should be renamed to?

[2017-12-28 12:41] P-Chang commented on #15
if it is only replacement, it is correct.

With argument separation
`"character/oryou_Warai_", "0",`
`"character_zoomed/sunset/oryou_Warai_", "0",`

[2017-12-28 12:45] enumag commented on #15
Thanks. In that case I think I'm done with the hardcoded exceptions for tata and hima. Just waiting for CSV.

What can we do about the meakashi problems?

[2017-12-28 12:55] P-Chang commented on #15
Anyway, I'll make meakashi vanilla csv after childs sprites.

For now, I suppose way is
1.Checking ps3 name and separate
2.Checking meakashi vanilla name and replace
3.Checking question name and replace